@{
    ViewData["Title"] = "โฟร์แมน";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/config.js"></script>
<script src="~/scripts/foreman/foreman-control.js"></script>
<script src="~/scripts/foreman/foreman-function.js"></script>

<style>
    .nav-tabs .nav-link {
        background-color: #AFAFAF;
        color: #FFF;
    }

        .nav-tabs .nav-link.active {
            background-color: #F09723;
            color: #FFF;
        }

    .table tr th {
        background-color: #F09723;
        color: #FFF;
    }

    .no-display {
        display: none;
    }

    .mnu-active {
        color: #F09723;
    }
</style>

<script>
    $(function () {
        $('#spnForeman').addClass('mnu-active');
        $('#imgForeman').attr('src', '/images/foreman_2.png');

        $('#spnSale').removeClass('mnu-active');
        $('#spn3D').removeClass('mnu-active');
        $('#spnMaster').removeClass('mnu-active');
        $('#spnAccounting').removeClass('mnu-active');

        $('#imgSale').attr('src', '/images/sales.png');
        $('#img3D').attr('src', '/images/graphic-design.png');
        $('#imgMaster').attr('src', '/images/data-processing.png');
        $('#imgAccounting').attr('src', '/images/accounting.png');
    });
</script>


<div class="row">
    <h4>โฟร์แมน</h4>

    <div class="col-sm-12">

        <!-- Nav pills -->
        <ul class="nav nav-pills bg-primary mb-3" style="padding-top: 0.25rem;padding-bottom: 0.25rem;padding-left: 0.25rem;">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="pill" href="#nav-foreman-queue-tab">คิวงานตามใบเสนอราคา (3D อนุมัติ)</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="nav-foreman-queue-tab">@Html.Partial("_ForemanQueue.cshtml")</div>
        </div>

    </div>
</div>