@{
    ViewData["Title"] = "เข้าสู่ระบบ";
    Layout = null;
}

<link rel="stylesheet" href="~/lib/bootstrap-5.0.2-dist/css/bootstrap.min.css" />
<link href="~/css/loginstyle.css" rel="stylesheet" />

<script src="~/lib/jquery/dist/jquery.min.js" crossorigin="anonymous"></script>

<script src="~/lib/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>

<script src="~/scripts/config.js"></script>
<script src="~/scripts/js-helper.js"></script>

<script src="~/scripts/login/login-controller.js"></script>
<script src="~/scripts/login/login-service.js"></script>

<link rel="stylesheet" href="~/assets/sweetalert/sweetalert2.min.css" />
<script src="~/assets/sweetalert/sweetalert2.all.min.js"></script>


<style>
    #img_logo {
        width: 70%;
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(-0%, -50%);
    }
</style>
<script>
	localStorage.setItem('webUrl', '@ViewBag.webUrl');
	localStorage.setItem('apiUrl', '@ViewBag.apiUrl');
</script>
@*<div class="spinner-grow text-primary" role="status" style="z-index:9999;">
    <span class="sr-only">Loading...</span>
</div>*@

<div class="container" id="container">
    <div class="form-container sign-in-container">
		<form id="form-login">
			<h1 class="mb-2">เข้าสู่ระบบ</h1>
            <input  type="text" id="input-login-empCode" name="input-login-empCode" placeholder="รหัสพนักงาน" />
            <input  type="password" id="input-login-empPass" name="input-login-empPass" placeholder="รหัสผ่าน" />

            <button type="button" class="btn-login">เข้าสู่ระบบ</button>
		</form>
	</div>
	<div class="overlay-container justify-content-center">
        <img src="~/images/IMG_2178_resize.png" id="img_logo"> 
	</div>
</div>