@{
    ViewData["Title"] = "ข้อมูลหลัก";
}

@*<script src="~/scripts/config.js"></script>
<script src="~/scripts/master/product.js"></script>*@

<style>
    .loader {
        z-index: 10000;
    }

    .style-details, .type-details, .item-details {
        cursor:pointer !important; 
    }
</style>

<div class="row">

    <div class="col-sm-12 mt-2">
        <nav>
            <div class="nav nav-tabs" id="nav-tab-master-product" role="tablist">
                <button class="nav-link active" id="nav-master-productData-tab" data-bs-toggle="tab" data-bs-target="#nav-master-productData" type="button" role="tab" aria-controls="nav-master-productData" aria-selected="true" style="margin-right:2px;">ข้อมูลสินค้า</button>
                <button class="nav-link" id="nav-master-productType-tab" data-bs-toggle="tab" data-bs-target="#nav-master-productType" type="button" role="tab" aria-controls="nav-master-productType" aria-selected="false" style="margin-right:2px;">ตั้งค่าหมวดหมู่</button>
                <button class="nav-link" id="nav-master-productStyle-tab" data-bs-toggle="tab" data-bs-target="#nav-master-productStyle" type="button" role="tab" aria-controls="nav-master-productStyle" aria-selected="false">ตั้งค่าสไตล์</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tab-master-product-tabContent">
            <div class="tab-pane fade show active" id="nav-master-productData" role="tabpanel" aria-labelledby="nav-master-productData-tab">
                <div class="container-fluid">
                    <div class="row mt-2">
                        <form id="form-search-product">
                            <div class="row col-sm-12">
                               @* <div class="col-sm-2">
                                    <label>รหัสสินค้า</label>
                                    <input type="text" class="form-control" id="input-search-product-code" placeholder="">
                                </div>*@
                                 <div class="col-sm-2">
                                    <label>Items</label>
                                    <input type="text" class="form-control" id="input-search-product-items" placeholder="">
                                </div>
                                <div class="col-sm-2">
                                    <label>หมวดหมู่</label>
                                    <select class="form-select" id="select-search-product-type">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label>สถานะ</label>
                                    <select class="form-select" id="select-search-product-status">
                                        <option></option>
                                    </select>
                                </div>

                                <div class="col-sm-6 mt-4 text-end">
                                    <button type="button" class="btn btn-default-custom btn-clear-search-product">ล้างข้อมูล</button>
                                    <button type="button" class="btn btn-primary btn-search-product">ค้นหา</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-sm-2 mt-2">
                        <button type="button" class="btn btn-primary btn-add-product">เพิ่มสินค้า</button>
                    </div>

                    <div class="row col-sm-12 mt-2">
                        <table class="table no-footer" id="tb-product-list" width="100%">
                            <thead>
                                <tr>
                                    <th><span>รหัสสินค้า</span></th>
                                    <th><span>หมวดหมู่</span></th>
                                    <th><span>Items</span></th>
                                    <th><span>ราคาต่อเมตร</span></th>
                                    <th><span>วันที่สร้าง</span></th>
                                    <th><span>ผู้สร้าง</span></th>
                                    <th><span>วันที่แก้ไขล่าสุด</span></th>
                                    <th><span>ผู้แก้ไขล่าสุด</span></th>
                                    <th><span>สถานะ</span></th>
                                    <th><span>แก้ไข</span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-master-productType" role="tabpanel" aria-labelledby="nav-master-productType-tab">
                <div class="container-fluid">
                    <div class="row mt-2">
                        <form id="form-search-type">
                            <div class="row col-sm-12">
                                @*<div class="col-sm-2">
                                    <label>รหัสหมวดหมู่</label>
                                    <input type="text" class="form-control" id="input-search-type-code" placeholder="">
                                </div>*@

                                <div class="col-sm-2">
                                    <label>หมวดหมู่</label>
                                    <input type="text" class="form-control" id="input-search-type-name" placeholder="">
                                </div>
                                <div class="col-sm-2">
                                    <label>สถานะ</label>
                                    <select class="form-select" id="select-search-type-status">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-sm-8 mt-4 text-end">
                                    <button type="button" class="btn btn-default-custom btn-clear-search-type">ล้างข้อมูล</button>
                                    <button type="button" class="btn btn-primary btn-search-type">ค้นหา</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-sm-2 mt-2">
                        <button type="button" class="btn btn-primary btn-add-type">เพิ่มหมวดหมู่</button>
                    </div>

                    <div class="row col-sm-12 mt-2">
                        <table class="table no-footer" id="tb-type-list" width="100%">
                            <thead>
                                <tr>
                                    <th><span>รหัสหมวดหมู่</span></th>
                                    <th><span>หมวดหมู่</span></th>
                                    <th><span>ราคาต่อเมตร</span></th>
                                    <th><span>วันที่สร้าง</span></th>
                                    <th><span>ผู้สร้าง</span></th>
                                    <th><span>วันที่แก้ไขล่าสุด</span></th>
                                    <th><span>ผู้แก้ไขล่าสุด</span></th>
                                    <th><span>สถานะ</span></th>
                                    <th><span>แก้ไข</span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-master-productStyle" role="tabpanel" aria-labelledby="nav-master-productStyle-tab">
                <div class="container-fluid">
                    <div class="row mt-2">
                        <form id="form-search-style">
                            <div class="row col-sm-12">
                                @*<div class="col-sm-2">
                                    <label>รหัสสไตล์</label>
                                    <input type="text" class="form-control" id="input-search-style-code" placeholder="">
                                </div>*@
                                <div class="col-sm-2">
                                    <label>สไตล์</label>
                                    <input type="text" class="form-control" id="input-search-style-name" placeholder="">
                                </div>
                                <div class="col-sm-2">
                                    <label>สถานะ</label>
                                    <select class="form-select" id="select-search-style-status">
                                        <option></option>
                                    </select>
                                </div>

                                <div class="col-sm-8 mt-4 text-end">
                                    <button type="button" class="btn btn-default-custom btn-clear-search-style">ล้างข้อมูล</button>
                                    <button type="button" class="btn btn-primary btn-search-style">ค้นหา</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-sm-2 mt-2">
                        <button type="button" class="btn btn-primary btn-add-style">เพิ่มสไตล์</button>
                    </div>

                    <div class="row col-sm-12 mt-2">
                        <table class="table no-footer" id="tb-style-list" width="100%">
                            <thead>
                                <tr>
                                    <th><span>รหัสสไตล์</span></th>
                                    <th><span>สไตล์</span></th>
                                    <th><span>วันที่สร้าง</span></th>
                                    <th><span>ผู้สร้าง</span></th>
                                    <th><span>วันที่แก้ไขล่าสุด</span></th>
                                    <th><span>ผู้แก้ไขล่าสุด</span></th>
                                    <th><span>สถานะ</span></th>
                                    <th><span>แก้ไข</span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@*modal for create product*@
<div id="modal-createProduct" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center"><span id="itemHeader"></span></h4>
            </div>
            <div class="modal-body">
                <form id="form-createProduct">
                    <div class="row d-sm-flex">
                        @*<div class="col-sm-12">*@
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รหัสสินค้า<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-product-code" name="input-product-code" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อ Items<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-product-name" name="input-product-name" />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-product-status" data-selected="" name="select-product-status"></select>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อหมวดหมู่<span class="text-danger">*</span></label>
                                    <select class="form-select" id="select-product-type" data-selected="" name="select-product-type"></select>

                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ราคาต่อเมตร (บาท)<span class="text-danger">*</span></label>
                                    <input class="form-control" type="number" id="input-product-price" name="input-product-price" />
                                </div>
                            </div>

                            @*</div>*@
                        </div>

                    </div>
                </form>


                <div class="row">
                    <div class="row mt-2 mb-2">
                        <div class="col-sm-7">Options</div>
                        <div class="col-sm-3">ราคาต่อเมตร (บาท)</div>
                    </div>

                    <div id="divOptions">
                        
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-modal-save-product"><i class="fas fa-save" aria-hidden="true"></i></i> บันทึก</button>
                <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

@*modal for view product*@
<div id="modal-viewProduct" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">ดูข้อมูลสินค้า (Items)</h4>
            </div>
            <div class="modal-body">
                <form id="form-createProduct">
                    <div class="row d-sm-flex">
                    @*<div class="col-sm-12">*@
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12 mb-2">
                                <label class="control-label">รหัสสินค้า<span class="text-danger">*</span></label>
                                <input class="form-control" type="text" id="input-product-code" name="input-product-code" disabled />
                            </div>
                            <div class="col-sm-12 mb-2">
                                <label class="control-label">ชื่อ Items<span class="text-danger">*</span></label>
                                <input class="form-control" type="text" id="input-product-name" name="input-product-name" disabled/>
                            </div>
                            <div class="col-sm-12 mb-2">
                                <label class="control-label">สถานะ</label>
                                <select class="form-select" id="select-product-status" data-selected="" name="select-product-status" disabled></select>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12 mb-2">
                                <label class="control-label">ชื่อหมวดหมู่<span class="text-danger">*</span></label>
                                    <select class="form-select" id="select-product-type" data-selected="" name="select-product-type" disabled></select>

                            </div>
                            <div class="col-sm-12 mb-2">
                                <label class="control-label">ราคาต่อเมตร (บาท)<span class="text-danger">*</span></label>
                                <input class="form-control" type="text" id="input-product-price" name="input-product-price" disabled/>
                            </div>
                        </div>

                        @*</div>*@
                    </div>

                </div>
                </form>

                <div class="row">
                    <div class="row mt-2 mb-2">
                        <div class="col-sm-7">Options</div>
                        <div class="col-sm-3">ราคาต่อเมตร (บาท)</div>
                    </div>

                    <div id="divOptions">
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>ปิดหน้าจอ</button>
            </div>
        </div>
    </div>
</div>

@*modal for create type*@
<div id="modal-createType" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center"><span id="typeHeader"></span></h4>
            </div>
            <div class="modal-body">
                <form id="form-createType">
                    <div class="row d-sm-flex">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รหัสหมวดหมู่<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-type-code" name="input-type-code" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ราคาต่อเมตร (บาท)<span class="text-danger">*</span></label>
                                    <input class="form-control" type="number" id="input-type-price" name="input-type-price" />
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อหมวดหมู่<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-type-name" name="input-type-name" />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-type-status" data-selected="" name="select-type-status"></select>
                                </div>
                            </div>

                            @*</div>*@
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-modal-save-type"><i class="fas fa-save" aria-hidden="true"></i> บันทึก</button>
                <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

@*modal for view type*@
<div id="modal-viewType" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">ดูข้อมูลหมวดหมู่</h4>
            </div>
            <div class="modal-body">
                <form id="form-createType">
                    <div class="row d-sm-flex">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รหัสหมวดหมู่<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-type-code" name="input-type-code" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ราคาต่อเมตร (บาท)<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-type-price" name="input-type-price" disabled />
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อหมวดหมู่<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-type-name" name="input-type-name" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-control" id="select-type-status" data-selected="" name="select-type-status" disabled></select>
                                </div>
                            </div>

                            @*</div>*@
                        </div>

                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ปิดหน้าจอ</button>
            </div>
        </div>
    </div>
</div>

@*modal for create style*@
<div id="modal-createStyle" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center"><span id="styleHeader"></span></h4>
            </div>
            <div class="modal-body">
                <form id="form-createStyle">
                    <div class="row d-sm-flex">
                    <div class="row d-sm-flex">
                        @*<div class="col-sm-12">*@
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รหัสสไตล์<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-style-code" name="input-style-code" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-style-status" data-selected="" name="select-style-status"></select>
                                </div>

                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อสไตล์<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-style-name" name="input-style-name" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-modal-save-style"><i class="fas fa-save" aria-hidden="true"></i> บันทึก</button>
                <button type="button" class="btn btn-default" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

@*modal for view style*@
<div id="modal-viewStyle" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">ดูข้อมูลสไตล์</h4>
            </div>
            <div class="modal-body">
                <form id="form-createStyle">
                    <div class="row d-sm-flex">
                    <div class="row d-sm-flex">
                        @*<div class="col-sm-12">*@
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รหัสสไตล์<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-style-code" name="input-style-code" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                        <select class="form-control" id="select-style-status" data-selected="" name="select-style-status" disabled></select>
                                </div>

                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อสไตล์<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" id="input-style-name" name="input-style-name" disabled />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ปิดหน้าจอ</button>
            </div>
        </div>
    </div>
</div>