@{
    ViewData["Title"] = "ข้อมูลคลังสินค้า";
}

@*<script src="~/scripts/config.js"></script>
<script src="~/scripts/master/product.js"></script>*@

<style>
    .loader {
        z-index: 10000;
    }

    .style-details, .type-details, .item-details {
        cursor: pointer !important;
    }

    .hidecol{
        display:none;
    }

    #tb-product-list tbody tr, #tb-type-list tbody tr, #tb-style-list tbody tr, #tb-product-quickQT-list tbody tr, #tb-group-list tbody tr {
        cursor: pointer !important;
    }




    .no-display {
        display: none;
    }

    .btn-add-custom {
        color: #F09723;
        background-color: transparent /*#0d6efd*/;
        border-color: transparent /*#0d6efd*/;
        font-size: 16px;
    }
</style>

<div class="row">

    <div class="col-sm-12 mt-2">
        <nav>
            <div class="nav nav-tabs" id="nav-tab-master-store" role="tablist">
                <button class="nav-link" id="nav-master-viewStock-tab" data-bs-toggle="tab" data-bs-target="#nav-master-viewStock" type="button" role="tab" aria-controls="nav-master-viewStock" aria-selected="false" style="margin-right:2px;">ดูสต็อกสินค้า</button>
                <button class="nav-link" id="nav-master-getIn-tab" data-bs-toggle="tab" data-bs-target="#nav-master-getIn" type="button" role="tab" aria-controls="nav-master-getIn" aria-selected="false" style="margin-right:2px;">รับเข้า</button>
                <button class="nav-link" id="nav-master-withDraw-tab" data-bs-toggle="tab" data-bs-target="#nav-master-withDraw" type="button" role="tab" aria-controls="nav-master-withDraw" aria-selected="false" style="margin-right:2px;">เบิกออก</button>
                <button class="nav-link active" id="nav-master-Group-tab" data-bs-toggle="tab" data-bs-target="#nav-master-Group" type="button" role="tab" aria-controls="nav-master-Group" aria-selected="true" style="margin-right:2px;">สร้างหมวดหมู่หลัก</button>
                <button class="nav-link" id="nav-master-subGroup-tab" data-bs-toggle="tab" data-bs-target="#nav-master-subGroup" type="button" role="tab" aria-controls="nav-master-subGroup" aria-selected="false" style="margin-right:2px;">สร้างหมวดหมู่ย่อย</button>
                <button class="nav-link" id="nav-master-Brand-tab" data-bs-toggle="tab" data-bs-target="#nav-master-Brand" type="button" role="tab" aria-controls="nav-master-Brand" aria-selected="false" style="margin-right:2px;">สร้างแบรนด์สินค้า</button>
                <button class="nav-link" id="nav-master-Unit-tab" data-bs-toggle="tab" data-bs-target="#nav-master-Unit" type="button" role="tab" aria-controls="nav-master-Unit" aria-selected="false" style="margin-right:2px;">สร้างหน่วยสินค้า</button>
                <button class="nav-link" id="nav-master-Reciever-tab" data-bs-toggle="tab" data-bs-target="#nav-master-Reciever" type="button" role="tab" aria-controls="nav-master-Reciever" aria-selected="false" style="margin-right:2px;">สร้างผู้รับสินค้า</button>
                <button class="nav-link" id="nav-master-Stock-tab" data-bs-toggle="tab" data-bs-target="#nav-master-Stock" type="button" role="tab" aria-controls="nav-master-Stock" aria-selected="false" style="margin-right:2px;">สร้างคลังสินค้า</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tab-master-store-tabContent">
            <div class="tab-pane fade" id="nav-master-viewStock" role="tabpanel" aria-labelledby="nav-master-viewstock-tab">
                <div class="container-fluid">
                  @*   <div class="row mt-2">
                        <form id="form-search-product">
                            <div class="row col-sm-12">
                      
                                <div class="col-sm-2">
                                    <label>Items</label>
                                    <input type="text" class="form-control" id="input-search-product-items" placeholder="">
                                </div>
                                <div class="col-sm-2">
                                    <label>หมวดหมู่</label>
                                    <select class="form-select" id="select-search-product-type">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label>สถานะ</label>
                                    <select class="form-select" id="select-search-product-status">
                                        <option></option>
                                    </select>
                                </div>

                                <div class="col-sm-6 mt-4 text-end">
                                    <button type="button" class="btn btn-default-custom btn-clear-search-product">ล้างข้อมูล</button>
                                    <button type="button" class="btn btn-primary btn-search-product">ค้นหา</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-sm-2 mt-2">
                        <button type="button" class="btn-add-custom btn-add-product"><img src="~/images/shopping-cart.png" width="25px" /> เพิ่มสินค้า</button>
                    </div>

                    <div class="row col-sm-12 mt-2">
                        <table class="table no-footer" id="tb-product-list" width="100%">
                            <thead>
                                <tr>
                                    <th><span>รหัสสินค้า</span></th>
                                    <th><span>หมวดหมู่</span></th>
                                    <th><span>Items</span></th>
                                    <th><span>ราคาต่อเมตร</span></th>
                                    <th><span>วันที่สร้าง</span></th>
                                    <th><span>ผู้สร้าง</span></th>
                                    <th><span>วันที่แก้ไขล่าสุด</span></th>
                                    <th><span>ผู้แก้ไขล่าสุด</span></th>
                                    <th><span>สถานะ</span></th>
                                    <th id="edit-action"><span>แก้ไข</span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div> *@
                </div>
            </div>

            <div class="tab-pane fade" id="nav-master-getIn" role="tabpanel" aria-labelledby="nav-master-getIn-tab">
                <div class="container-fluid">
                   @*  <div class="row mt-2">
                        <form id="form-search-product">
                            <div class="row col-sm-12">
                               
                                <div class="col-sm-2">
                                    <label>Items</label>
                                    <input type="text" class="form-control" id="input-search-product-items" placeholder="">
                                </div>
                                <div class="col-sm-2">
                                    <label>หมวดหมู่</label>
                                    <select class="form-select" id="select-search-product-type">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label>สถานะ</label>
                                    <select class="form-select" id="select-search-product-status">
                                        <option></option>
                                    </select>
                                </div>

                                <div class="col-sm-6 mt-4 text-end">
                                    <button type="button" class="btn btn-default-custom btn-clear-search-product">ล้างข้อมูล</button>
                                    <button type="button" class="btn btn-primary btn-search-product">ค้นหา</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-sm-2 mt-2">
                        <button type="button" class="btn-add-custom btn-add-product"><img src="~/images/shopping-cart.png" width="25px" /> เพิ่มสินค้า</button>
                    </div>

                    <div class="row col-sm-12 mt-2">
                        <table class="table no-footer" id="tb-product-list" width="100%">
                            <thead>
                                <tr>
                                    <th><span>รหัสสินค้า</span></th>
                                    <th><span>หมวดหมู่</span></th>
                                    <th><span>Items</span></th>
                                    <th><span>ราคาต่อเมตร</span></th>
                                    <th><span>วันที่สร้าง</span></th>
                                    <th><span>ผู้สร้าง</span></th>
                                    <th><span>วันที่แก้ไขล่าสุด</span></th>
                                    <th><span>ผู้แก้ไขล่าสุด</span></th>
                                    <th><span>สถานะ</span></th>
                                    <th id="edit-action"><span>แก้ไข</span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div> *@
                </div>
            </div>

            <div class="tab-pane fade" id="nav-master-withDraw" role="tabpanel" aria-labelledby="nav-master-withDraw-tab">
                <div class="container-fluid">
                   @*  <div class="row mt-2">
                        <form id="form-search-product">
                            <div class="row col-sm-12">
                                <div class="col-sm-2">
                                    <label>Items</label>
                                    <input type="text" class="form-control" id="input-search-product-items" placeholder="">
                                </div>
                                <div class="col-sm-2">
                                    <label>หมวดหมู่</label>
                                    <select class="form-select" id="select-search-product-type">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label>สถานะ</label>
                                    <select class="form-select" id="select-search-product-status">
                                        <option></option>
                                    </select>
                                </div>

                                <div class="col-sm-6 mt-4 text-end">
                                    <button type="button" class="btn btn-default-custom btn-clear-search-product">ล้างข้อมูล</button>
                                    <button type="button" class="btn btn-primary btn-search-product">ค้นหา</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-sm-2 mt-2">
                        <button type="button" class="btn-add-custom btn-add-product"><img src="~/images/shopping-cart.png" width="25px" /> เพิ่มสินค้า</button>
                    </div>

                    <div class="row col-sm-12 mt-2">
                        <table class="table no-footer" id="tb-product-list" width="100%">
                            <thead>
                                <tr>
                                    <th><span>รหัสสินค้า</span></th>
                                    <th><span>หมวดหมู่</span></th>
                                    <th><span>Items</span></th>
                                    <th><span>ราคาต่อเมตร</span></th>
                                    <th><span>วันที่สร้าง</span></th>
                                    <th><span>ผู้สร้าง</span></th>
                                    <th><span>วันที่แก้ไขล่าสุด</span></th>
                                    <th><span>ผู้แก้ไขล่าสุด</span></th>
                                    <th><span>สถานะ</span></th>
                                    <th id="edit-action"><span>แก้ไข</span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div> *@
                </div>
            </div>

            <div class="tab-pane fade show active" id="nav-master-Group" role="tabpanel" aria-labelledby="nav-master-Group-tab">
                <div class="container-fluid">
                    <div class="row mt-2">
                        <form id="form-search-Group">
                            <div class="row col-sm-12">
  
                                <div class="col-sm-2">
                                    <label>รหัสหมวดหมู่หลัก</label>
                                    <input type="text" class="form-control" id="input-search-groupcode-items" placeholder="">
                                </div>
                                <div class="col-sm-2">
                                    <label>ชื่อหมวดหมู่หลัก</label>
                                    <input type="text" class="form-control" id="input-search-groupname-items" placeholder="">
                                </div>
                                <div class="col-sm-2">
                                    <label>สถานะ</label>
                                    <select class="form-select" id="select-search-group-status">
                                        <option></option>
                                    </select>
                                </div>

                                <div class="col-sm-6 mt-4 text-end">
                                    <button type="button" class="btn btn-default-custom btn-clear-search-group">ล้างข้อมูล</button>
                                    <button type="button" class="btn btn-primary btn-search-group">ค้นหา</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-sm-2 mt-2">
                        <button type="button" class="btn-add-custom btn-add-group"><img src="~/images/grouptree.png" width="25px" /> เพิ่มหมวดหมู่หลัก</button>
                    </div>

                    <div class="row col-sm-12 mt-2">
                        <table class="table no-footer" id="tb-group-list" width="100%">
                            <thead>
                                <tr>
                                    <th><span>รหัสหมวดหมู่หลัก</span></th>
                                    <th><span>ชื่อหมวดหมู่หลัก</span></th>
                                    <th><span>วันที่สร้าง</span></th>
                                    <th><span>ผู้สร้าง</span></th>
                                    <th><span>วันที่แก้ไขล่าสุด</span></th>
                                    <th><span>ผู้แก้ไขล่าสุด</span></th>
                                    <th><span>สถานะ</span></th>
                                    <th id="edit-action"><span>แก้ไข</span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-master-subGroup" role="tabpanel" aria-labelledby="nav-master-subGroup-tab">
                <div class="container-fluid">
                    <div class="row mt-2">
                        <form id="form-search-subgroup">
                            <div class="row col-sm-12">
                                <div class="col-sm-2">
                                    <label>รหัสหมวดหมู่ย่อย</label>
                                    <input type="text" class="form-control" id="input-search-subgroupcode-items" placeholder="">
                                </div>

                                <div class="col-sm-2">
                                    <label>ชื่อหมวดหมู่ย่อย</label>
                                    <input type="text" class="form-control" id="input-search-subgroupname-items" placeholder="">
                                </div>
                                <div class="col-sm-2">
                                    <label>สถานะ</label>
                                    <select class="form-select" id="select-search-subgroup-status">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-sm-8 mt-4 text-end">
                                    <button type="button" class="btn btn-default-custom btn-clear-search-subgroup">ล้างข้อมูล</button>
                                    <button type="button" class="btn btn-primary btn-search-subgroup">ค้นหา</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-sm-2 mt-2">
                        <button type="button" class="btn-add-custom btn-add-subgroup"><img src="~/images/grouptree.png" width="25px" /> เพิ่มหมวดหมู่ย่อย</button>
                    </div>

                    <div class="row col-sm-12 mt-2">
                        <table class="table no-footer" id="tb-subgroup-list" width="100%">
                            <thead>
                                <tr>
                                    <th class="hidecol"><span>id</span></th>
                                    <th><span>รหัสหมวดหมู่ย่อย</span></th>
                                    <th><span>ชื่อหมวดหมู่ย่อย</span></th>
                                    <th><span>ชื่อหมวดหมู่หลัก</span></th>
                                    <th><span>วันที่สร้าง</span></th>
                                    <th><span>ผู้สร้าง</span></th>
                                    <th><span>วันที่แก้ไขล่าสุด</span></th>
                                    <th><span>ผู้แก้ไขล่าสุด</span></th>
                                    <th><span>สถานะ</span></th>
                                    <th id="edit-action"><span>แก้ไข</span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-master-Brand" role="tabpanel" aria-labelledby="nav-master-Brand-tab">
                <div class="container-fluid">
                    <div class="row mt-2">
                        <form id="form-search-brand">
                            <div class="row col-sm-12">
           
                                <div class="col-sm-2">
                                    <label>รหัสแบรนด์สินค้า</label>
                                    <input type="text" class="form-control" id="input-search-brand-code" placeholder="">
                                </div>
                                <div class="col-sm-2">
                                    <label>ชื่อแบรนด์สินค้า</label>
                                    <input type="text" class="form-control" id="input-search-brand-name" placeholder="">
                                </div>
                                <div class="col-sm-2">
                                    <label>สถานะ</label>
                                    <select class="form-select" id="select-search-brand-status">
                                        <option></option>
                                    </select>
                                </div>

                                <div class="col-sm-8 mt-4 text-end">
                                    <button type="button" class="btn btn-default-custom btn-clear-search-brand">ล้างข้อมูล</button>
                                    <button type="button" class="btn btn-primary btn-search-brand">ค้นหา</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-sm-2 mt-2">
                        <button type="button" class="btn-add-custom btn-add-brand"><img src="~/images/sale.png" width="25px" /> เพิ่มแบรนด์สินค้า</button>
                    </div>

                    <div class="row col-sm-12 mt-2">
                        <table class="table no-footer" id="tb-brand-list" width="100%">
                            <thead>
                                <tr>
                                    <th><span>id</span></th>
                                    <th><span>รหัสแบรนด์สินค้า</span></th>
                                    <th><span>ชื่อแบรนด์สินค้า</span></th>
                                    <th><span>วันที่สร้าง</span></th>
                                    <th><span>ผู้สร้าง</span></th>
                                    <th><span>วันที่แก้ไขล่าสุด</span></th>
                                    <th><span>ผู้แก้ไขล่าสุด</span></th>
                                    <th><span>สถานะ</span></th>
                                    <th id="edit-action"><span>แก้ไข</span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-master-Unit" role="tabpanel" aria-labelledby="nav-master-Unit-tab">
                <div class="container-fluid">
                    <div class="row mt-2">
                        <form id="form-search-Unit">
                            <div class="row col-sm-12">

                                <div class="col-sm-2">
                                    <label>รหัสหน่วยสินค้า</label>
                                    <input type="text" class="form-control" id="input-search-unit-code" placeholder="">
                                </div>
                                <div class="col-sm-2">
                                    <label>ชื่อหน่วยสินค้า</label>
                                    <input type="text" class="form-control" id="input-search-unit-name" placeholder="">
                                </div>
                                <div class="col-sm-2">
                                    <label>สถานะ</label>
                                    <select class="form-select" id="select-search-unit-status">
                                        <option></option>
                                    </select>
                                </div>

                                <div class="col-sm-6 mt-4 text-end">
                                    <button type="button" class="btn btn-default-custom btn-clear-search-unit">ล้างข้อมูล</button>
                                    <button type="button" class="btn btn-primary btn-search-unit">ค้นหา</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-sm-2 mt-2">
                        <button type="button" class="btn-add-custom btn-add-unit"><img src="~/images/checklist.png" width="25px" /> เพิ่มหน่วยสินค้า</button>
                    </div>

                    <div class="row col-sm-12 mt-2">
                        <table class="table no-footer" id="tb-unit-list" width="100%">
                            <thead>
                                <tr>
                                    <th><span>รหัสหน่วยสินค้า</span></th>
                                    <th><span>ชื่อหน่วยสินค้า</span></th>
                                    <th><span>วันที่สร้าง</span></th>
                                    <th><span>ผู้สร้าง</span></th>
                                    <th><span>วันที่แก้ไขล่าสุด</span></th>
                                    <th><span>ผู้แก้ไขล่าสุด</span></th>
                                    <th><span>สถานะ</span></th>
                                    <th id="edit-action"><span>แก้ไข</span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-master-Reciever" role="tabpanel" aria-labelledby="nav-master-Reciever-tab">
                <div class="container-fluid">
                    <div class="row mt-2">
                        <form id="form-search-receiver">
                            <div class="row col-sm-12">

                                <div class="col-sm-2">
                                    <label>รหัสพนักงานผู้รับสินค้า</label>
                                    <input type="text" class="form-control" id="input-search-receiver-code" placeholder="">
                                </div>
                                <div class="col-sm-2">
                                    <label>ชื่อพนักงานผู้รับสินค้า</label>
                                    <input type="text" class="form-control" id="input-search-receiver-name" placeholder="">
                                </div>
                                <div class="col-sm-2">
                                    <label>สถานะ</label>
                                    <select class="form-select" id="select-search-receiver-status">
                                        <option></option>
                                    </select>
                                </div>

                                <div class="col-sm-6 mt-4 text-end">
                                    <button type="button" class="btn btn-default-custom btn-clear-search-receiver">ล้างข้อมูล</button>
                                    <button type="button" class="btn btn-primary btn-search-receiver">ค้นหา</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-sm-2 mt-2">
                        <button type="button" class="btn-add-custom btn-add-receiver"><img src="~/images/user.png" width="25px" /> เพิ่มผู้รับสินค้า</button>
                    </div>

                    <div class="row col-sm-12 mt-2">
                        <table class="table no-footer" id="tb-receiver-list" width="100%">
                            <thead>
                                <tr>
                                    <th class="hidecol"><span>id</span></th>
                                    <th><span>รหัสพนักงานผู้รับสินค้า</span></th>
                                    <th><span>ชื่อพนักงานผู้รับสินค้า</span></th>
                                    <th><span>วันที่สร้าง</span></th>
                                    <th><span>ผู้สร้าง</span></th>
                                    <th><span>วันที่แก้ไขล่าสุด</span></th>
                                    <th><span>ผู้แก้ไขล่าสุด</span></th>
                                    <th><span>สถานะ</span></th>
                                    <th id="edit-action"><span>แก้ไข</span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-master-Stock" role="tabpanel" aria-labelledby="nav-master-Reciever-Stock">
                <div class="container-fluid">
                    <div class="row mt-2">
                        <form id="form-search-stock">
                            <div class="row col-sm-12">

                                <div class="col-sm-2">
                                    <label>รหัสคลังสินค้า</label>
                                    <input type="text" class="form-control" id="input-search-stock-code" placeholder="">
                                </div>
                                <div class="col-sm-2">
                                    <label>ชื่อคลังสินค้า</label>
                                    <input type="text" class="form-control" id="input-search-stock-name" placeholder="">
                                </div>
                                <div class="col-sm-2">
                                    <label>สถานะ</label>
                                    <select class="form-select" id="select-search-stock-status">
                                        <option></option>
                                    </select>
                                </div>

                                <div class="col-sm-6 mt-4 text-end">
                                    <button type="button" class="btn btn-default-custom btn-clear-search-stock">ล้างข้อมูล</button>
                                    <button type="button" class="btn btn-primary btn-search-stock">ค้นหา</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-sm-2 mt-2">
                        <button type="button" class="btn-add-custom btn-add-stock"><img src="~/images/shop.png" width="25px" /> เพิ่มคลังสินค้า</button>
                    </div>

                    <div class="row col-sm-12 mt-2">
                        <table class="table no-footer" id="tb-stock-list" width="100%">
                            <thead>
                                <tr>
                                    <th><span>รหัสคลังสินค้า</span></th>
                                    <th><span>ชื่อคลังสินค้า</span></th>
                                    <th><span>วันที่สร้าง</span></th>
                                    <th><span>ผู้สร้าง</span></th>
                                    <th><span>วันที่แก้ไขล่าสุด</span></th>
                                    <th><span>ผู้แก้ไขล่าสุด</span></th>
                                    <th><span>สถานะ</span></th>
                                    <th id="edit-action"><span>แก้ไข</span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*modal for create Group*@
<div id="modal-createGroup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center"><span id="itemHeader"></span></h4>
            </div>
            <div class="modal-body">
                <form id="form-createGroup">
                    <div class="row d-sm-flex">
                        @*<div class="col-sm-12">*@
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รหัสหมวดหมู่หลัก<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-group-code" name="input-group-code" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อหมวดหมู่<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-group-name" name="input-group-name" />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-group-status" data-selected="" name="select-group-status"></select>
                                </div>
                            </div>

                        </div>

                       

                    </div>
                </form>


       
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary btn-modal-save-group"><i class="fas fa-save" aria-hidden="true"></i> บันทึก</button>
                <button type="button" class="btn btn-default-custom" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

@*modal for view Group*@
<div id="modal-viewGroup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center">ดูข้อมูลหมวดหมู่หลัก</h4>
            </div>
            <div class="modal-body">
                <form id="form-createGroup">
                    <div class="row d-sm-flex">
                        @*<div class="col-sm-12">*@
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รหัสหมวดหมู่หลัก<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-group-code" name="input-group-code" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อหมวดหมู่<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-group-name" name="input-group-name" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-group-status" data-selected="" name="select-group-status" disabled></select>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ปิดหน้าจอ</button>
            </div>
        </div>
    </div>
</div>

@*modal for create SubGroup*@
<div id="modal-createSubGroup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center"><span id="itemHeader"></span></h4>
            </div>
            <div class="modal-body">
                <form id="form-createSubGroup">
                    <div class="row d-sm-flex">
                        @*<div class="col-sm-12">*@
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รหัสหมวดหมู่ย่อย<span class="text-danger">*</span></label>
                                    <input type="hidden" id="input-subgroup-id" name="input-subgroup-id" />
                                    <input class="form-control" type="text" id="input-subgroup-code" name="input-subgroup-code" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อหมวดหมู่ย่อย<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-subgroup-name" name="input-subgroup-name" />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อหมวดหมู่หลัก</label>
                                    <select class="form-select" id="select-group-name" data-selected="" name="select-group-name" onchange="onGroupListChange();"></select>
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-subgroup-status" data-selected="" name="select-subgroup-status"></select>
                                </div>
                            </div>

                        </div>



                    </div>
                </form>



            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary btn-modal-save-subgroup"><i class="fas fa-save" aria-hidden="true"></i> บันทึก</button>
                <button type="button" class="btn btn-default-custom" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

@*modal for view SubGroup*@
<div id="modal-viewSubGroup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center">ดูข้อหมวดหมู่ย่อย</h4>
            </div>
            <div class="modal-body">
                <form id="form-createSubGroup">
                    <div class="row d-sm-flex">
                        @*<div class="col-sm-12">*@
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รหัสหมวดหมู่ย่อย<span class="text-danger">*</span></label>
                                    <input type="hidden" id="input-subgroup-id" name="input-subgroup-id" />
                                    <input class="form-control" type="text" id="input-subgroup-code" name="input-subgroup-code" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อหมวดหมู่ย่อย<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-subgroup-name" name="input-subgroup-name" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อหมวดหมู่หลัก</label>
                                    <select class="form-select" id="select-group-name" data-selected="" name="select-group-name" disabled></select>
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-subgroup-status" data-selected="" name="select-subgroup-status" disabled></select>
                                </div>
                            </div>

                        </div>

                        

                    </div>
                </form>

                
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ปิดหน้าจอ</button>
            </div>
        </div>
    </div>
</div>

@*modal for create Brand*@
<div id="modal-createBrand" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center"><span id="itemHeader"></span></h4>
            </div>
            <div class="modal-body">
                <form id="form-createBrand">
                    <div class="row d-sm-flex">
                        @*<div class="col-sm-12">*@
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รหัสแบรนด์สินค้า<span class="text-danger">*</span></label>
                                    <input type="hidden" id="input-brand-id" name="input-brand-id" />
                                    <input class="form-control" type="text" id="input-brand-code" name="input-brand-code" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อแบรนด์สินค้า<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-brand-name" name="input-brand-name" />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-brand-status" data-selected="" name="select-brand-status"></select>
                                </div>
                            </div>

                        </div>



                    </div>
                </form>



            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary btn-modal-save-brand"><i class="fas fa-save" aria-hidden="true"></i> บันทึก</button>
                <button type="button" class="btn btn-default-custom" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

@*modal for view Brand*@
<div id="modal-viewBrand" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center">ดูข้อมูลหมวดหมู่หลัก</h4>
            </div>
            <div class="modal-body">
                <form id="form-createBrand">
                    <div class="row d-sm-flex">
                        @*<div class="col-sm-12">*@
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รหัสแบรนด์สินค้า<span class="text-danger">*</span></label>
                                    <input type="hidden" id="input-brand-id" name="input-brand-id" />
                                    <input class="form-control" type="text" id="input-brand-code" name="input-brand-code" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อแบรนด์สินค้า<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-brand-name" name="input-brand-name" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-brand-status" data-selected="" name="select-brand-status" disabled></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ปิดหน้าจอ</button>
            </div>
        </div>
    </div>
</div>

@*modal for create Unit*@
<div id="modal-createUnit" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center"><span id="itemHeader"></span></h4>
            </div>
            <div class="modal-body">
                <form id="form-createUnit">
                    <div class="row d-sm-flex">
                        @*<div class="col-sm-12">*@
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รหัสหน่วยสินค้า<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-unit-code" name="input-unit-code" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อหน่วยสินค้า<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-unit-name" name="input-unit-name" />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-unit-status" data-selected="" name="select-unit-status"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary btn-modal-save-unit"><i class="fas fa-save" aria-hidden="true"></i> บันทึก</button>
                <button type="button" class="btn btn-default-custom" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

@*modal for view Unit*@
<div id="modal-viewUnit" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center">ดูข้อมูลหมวดหมู่หลัก</h4>
            </div>
            <div class="modal-body">
                <form id="form-createUnit">
                    <div class="row d-sm-flex">
                        @*<div class="col-sm-12">*@
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รหัสหน่วยสินค้า<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-unit-code" name="input-unit-code" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อหน่วยสินค้า<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-unit-name" name="input-unit-name" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-unit-status" data-selected="" name="select-unit-status" disabled></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ปิดหน้าจอ</button>
            </div>
        </div>
    </div>
</div>

@*modal for create Receiver*@
<div id="modal-createReceiver" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center"><span id="itemHeader"></span></h4>
            </div>
            <div class="modal-body">
                <form id="form-createReceiver">
                    <div class="row d-sm-flex">
                        @*<div class="col-sm-12">*@
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รหัสพนักงานผู้รับสินค้า<span class="text-danger">*</span></label>
                                    <input type="hidden" id="input-receiver-id" name="input-receiver-id" />
                                    <select class="form-select" id="select-receiver-empcode" data-selected="" name="select-receiver-empcode" onchange="onempCodeChangeListChange();"></select>
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อพนักงานผู้รับสินค้า<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-receiver-name" name="input-receiver-name" disabled/>
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-receiver-status" data-selected="" name="select-receiver-status"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary btn-modal-save-receiver"><i class="fas fa-save" aria-hidden="true"></i> บันทึก</button>
                <button type="button" class="btn btn-default-custom" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

@*modal for view Receiver*@
<div id="modal-viewReceiver" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center">ดูข้อมูลหมวดหมู่หลัก</h4>
            </div>
            <div class="modal-body">
                <form id="form-createReceiver">
                    <div class="row d-sm-flex">
                        @*<div class="col-sm-12">*@
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รหัสพนักงานผู้รับสินค้า<span class="text-danger">*</span></label>
                                    <input type="hidden" id="input-receiver-id" name="input-receiver-id" />
                                    <select class="form-select" id="select-receiver-empcode" data-selected="" name="select-receiver-empcode" onchange="onempCodeChangeListChange();" disabled></select>
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อพนักงานผู้รับสินค้า<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-receiver-name" name="input-receiver-name" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-receiver-status" data-selected="" name="select-receiver-status" disabled></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ปิดหน้าจอ</button>
            </div>
        </div>
    </div>
</div>

@*modal for create Stock*@
<div id="modal-createStock" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center"><span id="itemHeader"></span></h4>
            </div>
            <div class="modal-body">
                <form id="form-createStock">
                    <div class="row d-sm-flex">
                        @*<div class="col-sm-12">*@
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รหัสคลังสินค้า<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-stock-code" name="input-stock-code" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อคลังสินค้า<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-stock-name" name="input-stock-name" />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-stock-status" data-selected="" name="select-stock-status"></select>
                                </div>
                            </div>

                        </div>



                    </div>
                </form>



            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary btn-modal-save-stock"><i class="fas fa-save" aria-hidden="true"></i> บันทึก</button>
                <button type="button" class="btn btn-default-custom" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

@*modal for view Stock*@
<div id="modal-viewGroup" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center">ดูข้อมูลหมวดหมู่หลัก</h4>
            </div>
            <div class="modal-body">
                <form id="form-createGroup">
                    <div class="row d-sm-flex">
                        @*<div class="col-sm-12">*@
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รหัสหมวดหมู่หลัก<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-group-code" name="input-group-code" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อหมวดหมู่<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-group-name" name="input-group-name" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-group-status" data-selected="" name="select-group-status" disabled></select>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ปิดหน้าจอ</button>
            </div>
        </div>
    </div>
</div>












@*modal for create type*@
<div id="modal-createType" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center"><span id="typeHeader"></span></h4>
            </div>
            <div class="modal-body">
                <form id="form-createType">
                    <div class="row d-sm-flex">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รหัสหมวดหมู่<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-type-code" name="input-type-code" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ราคาต่อเมตร (บาท)<span class="text-danger">*</span></label>
                                    <input class="form-control" type="number" id="input-type-price" name="input-type-price" />
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อหมวดหมู่<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-type-name" name="input-type-name" />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-type-status" data-selected="" name="select-type-status"></select>
                                </div>
                            </div>

                            @*</div>*@
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary btn-modal-save-type"><i class="fas fa-save" aria-hidden="true"></i> บันทึก</button>
                <button type="button" class="btn btn-default-custom" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

@*modal for view type*@
<div id="modal-viewType" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center">ดูข้อมูลหมวดหมู่</h4>
            </div>
            <div class="modal-body">
                <form id="form-createType">
                    <div class="row d-sm-flex">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รหัสหมวดหมู่<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-type-code" name="input-type-code" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ราคาต่อเมตร (บาท)<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-type-price" name="input-type-price" disabled />
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อหมวดหมู่<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-type-name" name="input-type-name" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-control" id="select-type-status" data-selected="" name="select-type-status" disabled></select>
                                </div>
                            </div>

                            @*</div>*@
                        </div>

                    </div>
                </form>


            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ปิดหน้าจอ</button>
            </div>
        </div>
    </div>
</div>

@*modal for create style*@
<div id="modal-createStyle" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center"><span id="styleHeader"></span></h4>
            </div>
            <div class="modal-body">
                <form id="form-createStyle">
                    <div class="row d-sm-flex">
                        <div class="row d-sm-flex">
                            @*<div class="col-sm-12">*@
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">รหัสสไตล์<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" id="input-style-code" name="input-style-code" disabled />
                                    </div>
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">สถานะ</label>
                                        <select class="form-select" id="select-style-status" data-selected="" name="select-style-status"></select>
                                    </div>

                                </div>

                            </div>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">ชื่อสไตล์<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" id="input-style-name" name="input-style-name" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary btn-modal-save-style"><i class="fas fa-save" aria-hidden="true"></i> บันทึก</button>
                <button type="button" class="btn btn-default-custom" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

@*modal for view style*@
<div id="modal-viewStyle" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center">ดูข้อมูลสไตล์</h4>
            </div>
            <div class="modal-body">
                <form id="form-createStyle">
                    <div class="row d-sm-flex">
                        <div class="row d-sm-flex">
                            @*<div class="col-sm-12">*@
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">รหัสสไตล์<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" id="input-style-code" name="input-style-code" disabled />
                                    </div>
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">สถานะ</label>
                                        <select class="form-control" id="select-style-status" data-selected="" name="select-style-status" disabled></select>
                                    </div>

                                </div>

                            </div>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">ชื่อสไตล์<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" id="input-style-name" name="input-style-name" disabled />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ปิดหน้าจอ</button>
            </div>
        </div>
    </div>
</div>

@*modal for create product quick QT*@
<div id="modal-createProduct-QuickQT" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center"><span id="itemQuickQTHeader"></span></h4>
            </div>
            <div class="modal-body">
                <form id="form-createProductQuickQT">
                    <div class="row d-sm-flex">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6 mb-2">
                                    <label class="control-label">รหัสสินค้า<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-product-code" name="input-product-code" />
                                </div>
                                <div class="col-sm-6 mb-2">
                                    <label class="control-label">ชื่อหมวดหมู่<span class="text-danger">*</span></label>
                                    <select class="form-select" id="select-product-type" data-selected="" name="select-product-type"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">Text (คำอธิบายรายละเอียดที่ใช้ในการแสดงผลในใบเสนอราคา)<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-product-text" name="input-product-text" />
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6 mb-2">
                                    <label class="control-label">ราคาต่อเมตร (บาท)<span class="text-danger">*</span></label>
                                    <input class="form-control" type="number" id="input-product-price" name="input-product-price" />
                                </div>
                                <div class="col-sm-6 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-product-status" data-selected="" name="select-product-status"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 mb-2">
                            <input id="display-emp-signature" name="display-emp-signature[]" type="file" class="file" accept="image/png">
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary btn-modal-save-product-quickQT"><i class="fas fa-save" aria-hidden="true"></i></i> บันทึก</button>
                <button type="button" class="btn btn-default-custom" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

@*modal for view product quick QT*@
<div id="modal-viewProduct-QuickQT" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center">ดูข้อมูลสินค้า (Quick QT)</h4>
            </div>
            <div class="modal-body">
                <form id="form-createProductQuickQT">
                    <div class="row d-sm-flex">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6 mb-2">
                                    <label class="control-label">รหัสสินค้า<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-product-code" name="input-product-code" disabled />
                                </div>
                                <div class="col-sm-6 mb-2">
                                    <label class="control-label">ชื่อหมวดหมู่<span class="text-danger">*</span></label>
                                    <select class="form-select" id="select-product-type" data-selected="" name="select-product-type" disabled></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">Text (คำอธิบายรายละเอียดที่ใช้ในการแสดงผลในใบเสนอราคา)<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-product-text" name="input-product-text" disabled />
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6 mb-2">
                                    <label class="control-label">ราคาต่อเมตร (บาท)<span class="text-danger">*</span></label>
                                    <input class="form-control" type="number" id="input-product-price" name="input-product-price" disabled />
                                </div>
                                <div class="col-sm-6 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-product-status" data-selected="" name="select-product-status" disabled></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 mb-2">
                            <input id="display-emp-signature" name="display-emp-signature[]" type="file" class="file" accept="image/png">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ปิดหน้าจอ</button>
            </div>
        </div>
    </div>
</div>
