<div class="container-fluid" id="div-approveCustomerStyle">

    <div class="card mt-4">
        <div class="card-header">
            <div class="row col-sm-12">
                <div class="col-sm-6 mt-2"><h5>รายละเอียดสไตล์และชิ้นงาน</h5></div>
                <div class="col-sm-6 text-end">
                    <button type="button" class="btn btn-default btn-previous-approve-cus-data"><i class="fas fa-arrow-alt-circle-left" aria-hidden="true"></i> ย้อนกลับ</button>
                    <button type="button" class="btn btn-primary btn-next-approve-cus-cal-price"><i class="fas fa-arrow-alt-circle-right" aria-hidden="true"></i> ถัดไป</button>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <div id="divApproveCustomerStyle">

            </div>
        </div>

    </div>

</div>