<div class="container-fluid" id="div-approveCustomer">

    <div class="card mt-4">
        <div class="card-header">
            <div class="row col-sm-12">
                <div class="col-sm-6 mt-2"><h5>อนุมัติใบเสนอราคา</h5></div>
                <div class="col-sm-6 text-end">
                    <button type="button" class="btn btn-default btn-previous-approve-cus"><i class="fas fa-arrow-alt-circle-left" aria-hidden="true"></i> ย้อนกลับ</button>
                </div>
            </div>
        </div>

        <div class="card-body">
            <form id="form-approve-customer">
                <div class="row">
                        <div class="row col-sm-12 mb-2">
                        <label class="col-sm-3 col-form-label text-end">สถานะการอนุมัติ<span class="text-danger">*</span></label>
                            <div class="col-sm-4">
                                <select class="form-select" id="select-approve-status" data-selected="" name="select-approve-status"></select>
                            </div>
                        </div>

                        <div class="row col-sm-12 mb-2">
                            <label class="col-sm-3 col-form-label text-end">คอมเมนต์</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="input-approve-comment" name="input-approve-comment" rows="3"></textarea>
                            </div>
                        </div>


                </div>
            </form>


        </div>

    </div>

</div>