@{
    ViewData["Title"] = "การ Approve";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/scripts/config.js"></script>
<script src="~/scripts/approval/approval-control.js"></script>
<script src="~/scripts/approval/approval-function.js"></script>

<link href="~/lib/file-input/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/lib/file-input/font/bootstrap-icons.min.css" rel="stylesheet" crossorigin="anonymous" />

<script src="~/lib/file-input/plugins/buffer.min.js" type="text/javascript"></script>
@*<script src="~/lib/file-input/plugins/piexif.min.js" type="text/javascript"></script>*@

<script src="~/lib/file-input/umd/popper.min.js"></script>
<script src="~/lib/file-input/js/fileinput.min.js"></script>

<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/plugins/piexif.min.js" type="text/javascript"></script>


<style>
    .nav-tabs .nav-link {
        background-color: #AFAFAF;
        color: #FFF;
    }

        .nav-tabs .nav-link.active {
            background-color: #F09723;
            color: #FFF;
        }

    .table tr th {
        background-color: #F09723;
        color: #FFF;
    }

    .no-display {
        display: none;
    }
</style>

<div class="row">
    <h4>การอนุมัติใบเสนอราคา</h4>

    <div class="col-sm-12">

        <!-- Nav pills -->
        <ul class="nav nav-pills bg-primary mb-3" style="padding-top: 0.25rem;padding-bottom: 0.25rem;padding-left: 0.25rem;">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="pill" href="#nav-approval-tab">รายการอนุมัติใบเสนอราคา</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="nav-approval-tab">@Html.Partial("_ApproveList.cshtml")</div>
        </div>

    </div>
</div>