<div id="modal-createInvoice" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-sm-6 mt-2"><h4 class="modal-title"><span id="invoiceHeader"></span></h4></div>
                <div class="col-sm-6 text-end">
                    <button type="button" class="btn btn-default-custom btn-print-invoice"><i class="fa fa-print" aria-hidden="true"></i> พิมพ์ใบแจ้งหนี้</button>
                </div>
            </div>
            <div class="modal-body">
                <form id="form-createInvoice">
                    <div class="row d-sm-flex">
                        <input type="hidden" id="invoiceNumberGen" />
                        <input type="hidden" id="invoiceYearMonth" />
                        @*<div class="col-sm-12">*@
                        <div class="col-sm-6">
                            <div class="row col-sm-12 mb-3">
                                <label class="col-sm-4 col-form-label text-end">เลขที่ใบแจ้งหนี้<span class="text-danger" style="display:none;">*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" id="input-invoice-number" name="input-invoice-number" disabled />
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="row col-sm-12 mb-3">
                                <label class="col-sm-4 col-form-label text-end">เลขที่ใบเสนอราคา<span class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-select" id="select-quotation-number" data-selected="" name="select-quotation-number" onchange="callCustomerInformation(this);"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="row col-sm-12 mb-3">
                                <label class="col-sm-2 col-form-label text-end">งวด<span class="text-danger">*</span></label>
                                <div class="col-sm-10">
                                    <select class="form-select" id="select-period" data-selected="" name="select-period" onchange="calculateByPeriod(this);" disabled></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="row col-sm-12 mb-3">
                                <label class="col-sm-4 col-form-label text-end">ชื่อลูกค้า<span class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" id="input-customer-firstName" name="input-customer-firstName" />
                                </div>
                            </div>

                            <div class="row col-sm-12 mb-3">
                                <label class="col-sm-4 col-form-label text-end">เบอร์โทรศัพท์<span class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" id="input-customer-tel" name="input-customer-tel" />
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="row col-sm-12 mb-3">
                                <label class="col-sm-4 col-form-label text-end">นามสกุล<span class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" id="input-customer-surName" name="input-customer-surName" />
                                </div>
                            </div>

                            <div class="row col-sm-12 mb-3">
                                <label class="col-sm-4 col-form-label text-end">สถานะใบแจ้งหนี้<span class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-select" id="select-invoice-status" data-selected="" name="select-invoice-status"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="row col-sm-12 mb-3">
                                <label class="col-sm-2 col-form-label text-end">สถานที่ติดตั้ง</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="input-install-address" name="input-install-address" rows="3"></textarea>
                                </div>
                            </div>

                            <div class="row col-sm-12 mb-3">
                                <label class="col-sm-2 col-form-label text-end">ราคา (Unit Price)<span class="text-danger">*</span></label>
                                <div class="row col-sm-10">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <input class="form-control mb-2" type="number" id="input-cal-unitPrice" name="input-cal-unitPrice" disabled />
                                        </div>
                                        <label class="col-sm-2 col-form-label">บาท</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row col-sm-12 mb-3">
                                <label class="col-sm-2 col-form-label text-end"></label>
                                <div class="col-sm-10">
                                    <button type="button" class="btn btn-default-custom btn-create-invoice">สร้างใบแจ้งหนี้</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-modal-save-invoice"><i class="fas fa-save" aria-hidden="true"></i> บันทึก</button>
                <button type="button" class="btn btn-default-custom" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ยกเลิก</button>
            </div>
        </div>
    </div>
</div>