<style>
    @*body{background:rgb(204,204,204);margin:1.0in0.5in0.5in0.5in;text-align:center;}*@
    #quotationVatElement {
        text-align: center;
    }

    .header-title {
        padding-top: 0.5in;
        padding-bottom: 0.25in;
        font-size: 25px;
        font-weight: 1000;

    }

    .header-table-container {
        margin: 0 auto;
        width: 697px;
        align-self: center;
    }

    .report-table {
        margin: 0 auto;
        width: 697px;
        align-self: center;
    }

    .table-header {
        font-weight: 600;
        height: 30px;
    }

    .table-body {
        height: 30px;
    }

    #report-detail tr td {
        border: .1px solid black;
        padding: 5px;
    }

    #report-detail>tr>td {
        vertical-align: top;
    }

    .detail {
        margin-top: 20px;
    }

    .table-text-left {
        text-align: left;

    }

    #report-header-detail-bottom>tr>td {
        width: 200px;
    }

    .big-text {
        font-size: 20px;
        font-weight: 400;
    }

    #img_logo {
        position: absolute;
        top: 32px;
        left: 1px;
        width: 152px;
        height: 60px;
    }

    #tb-quotation-vat-list tr th {
        background-color: lightgray;
        color: #000;
    }
</style>
<div id="quotationVatElement">
    <div class="row">
        <div class="row col-sm-12">
            <div class="col-sm-2">
                <img src="~/images/IMG_2178_resize.png" height="80px" width="auto">
            </div>

            <div class="col-sm-7 text-end">
                <span>บริษัท เอ็ม บิ้วดิ้ง จำกัด (สำนักงานใหญ่)</span>
                <span>102/9 ซอยหลังวัดต้นสน ตำบลบางปลาสร้อย</span>
                <span>อำเภอเมืองชลบุรี จังหวัดชลบุรี 20000</span>
                <span>เลขประจำตัวผู้เสียภาษี 0205558020588</span>
                <span>โทร.089-6057840  Email : Mbuilding@hotmail.com</span>
            </div>

             <div class="col-sm-3 text-end">
                <div>
                    <h6 style="word-wrap: break-word;">ใบเสนอราคา/Quotation</h6>
                </div>

            </div>
        </div>

        <div class="row d-sm-flex">
            <div class="col-sm-6">
                <div class="row col-sm-12">
                    <label class="col-sm-4 col-form-label text-end">ลูกค้า :</label>
                    <label class="col-sm-8 col-form-label" id="lblCusName"></label>
                </div>

                <div class="row col-sm-12">
                    <label class="col-sm-4 col-form-label text-end">ที่อยู่ :</label>
                    <label class="col-sm-8 col-form-label" id="lblCusAddress" style="word-wrap: break-word;"></label>
                </div>

            </div>

            <div class="col-sm-6">
                <div class="row col-sm-12">
                    <label class="col-sm-4 col-form-label text-end">เลขประจำตัวผู้เสียภาษี :</label>
                    <label class="col-sm-8 col-form-label" id="lblCusTax"></label>
                </div>

                <div class="row col-sm-12">
                    <label class="col-sm-4 col-form-label text-end">เบอร์โทร :</label>
                    <label class="col-sm-8 col-form-label" id="lblCusTel"></label>
                </div>

            </div>
        </div>

         <div class="row col-sm-12 mt-2">
            <table class="table no-footer" id="tb-quotation-vat-list" width="100%">
                <thead>
                    <tr>
                        <th><span>ITEM</span></th>
                        <th><span>DESCRIPTION</span></th>
                        <th><span>SIZE</span></th>
                        <th><span>UNIT PRICE</span></th>
                        <th><span>QT.</span></th>
                        <th><span>AMOUNT</span></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    @*<div class="reportPage">
        <div class="header-detail">
            <div>
                <img id="img_logo" alt="Logo" src="@Url.Content("~/images/IMG_2178_resize.png")" />
                <div class="header-title">Manufacturing Job Traveller</div>
                <div id="barcode-header">
                    <div>Work Order</div>
                    <svg id="work-order-barcode"> </svg>
                </div>

                <table class="report-table">
                    <colgroup>
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 35%;">
                        <col span="1" style="width: 15%;">
                        <col span="1" style="width: 15%;">
                        <col span="1" style="width: 15%;">
                    </colgroup>
                    <thead class="table-header">
                        <tr>
                            <td>Part No.</td>
                            <td>Part Description</td>
                            <td>Rev</td>
                            <td>Critical Part</td>
                            <td>Copy Exact</td>
                        </tr>
                    </thead>
                    <tbody class="table-body">
                        <tr id="report-header-detail"></tr>
                    </tbody>
                </table>
                <table class="report-table table-text-left">
                    <colgroup>
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 20%;">
                        <col span="1" style="width: 35%;">
                        <col span="1" style="width: 10%;">
                        <col span="1" style="width: 10%;">
                    </colgroup>
                    <tbody class="table-body" id="report-header-detail-bottom">
                    </tbody>
                </table>
                <hr>
                <div class="routing-table-container">
                    <table class="report-detail">
                        <colgroup>
                            <col span="1" style="width: 5%;">
                            <col span="1" style="width: 20%;">
                            <col span="1" style="width: 35%;">
                            <col span="1" style="width: 10%;">
                            <col span="1" style="width: 10%;">
                            <col span="1" style="width: 5%;">
                            <col span="1" style="width: 15%;">
                        </colgroup>
                        <thead class="table-header">
                            <tr>
                                <td>Seq</td>
                                <td>Operation</td>
                                <td>Description / Process Details</td>
                                <td>Start Date</td>
                                <td>End Date</td>
                                <td>Pass/Fail</td>
                                <td>Name</td>
                            </tr>
                        </thead>

                        <tbody id="report-detail" class="table-body">
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>*@
</div>