<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

<style>
    .docx-wrapper {
        /* background: gray; */
        /*  padding: 30px; */
        padding-bottom: 0px;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

        .docx-wrapper > section.docx {
            background: white;
            /*   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
            margin-bottom: 30px;
        }

    .docx {
        color: black;
    }

    section.docx {
        box-sizing: border-box;
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        overflow: hidden;
    }

        section.docx > article {
            margin-bottom: auto;
        }

    .docx table {
        border-collapse: collapse;
    }

        .docx table td, .docx table th {
            vertical-align: top;
        }

    .docx p {
        margin: 0pt;
        min-height: 1em;
    }

    .docx span {
        white-space: pre-wrap;
       /*  overflow-wrap: break-word; */
    }

    .docx a {
        color: inherit;
        text-decoration: inherit;
    }

</style>
<style>
    .docx {
        --docx-majorHAnsi-font: Aptos Display;
        --docx-minorHAnsi-font: Aptos;
        --docx-dk1-color: #000000;
        --docx-lt1-color: #FFFFFF;
        --docx-dk2-color: #0E2841;
        --docx-lt2-color: #E8E8E8;
        --docx-accent1-color: #156082;
        --docx-accent2-color: #E97132;
        --docx-accent3-color: #196B24;
        --docx-accent4-color: #0F9ED5;
        --docx-accent5-color: #A02B93;
        --docx-accent6-color: #4EA72E;
        --docx-hlink-color: #467886;
        --docx-folHlink-color: #96607D;
    }
</style>
<style>
    .docx span {
        font-family: var(--docx-minorHAnsi-font);
        min-height: 11.00pt;
        font-size: 11.00pt;
    }

    .docx p {
        margin-bottom: 8.00pt;
        line-height: 1.08;
    }

    p.docx_heading1 {
        margin-top: 16.00pt;
        margin-bottom: 2.00pt;
    }

        p.docx_heading1 span {
            font-family: var(--docx-majorHAnsi-font);
            color: #0F4761;
            min-height: 20.00pt;
            font-size: 20.00pt;
        }

        p.docx_heading1 span {
            font-family: var(--docx-majorHAnsi-font);
            color: #0F4761;
            min-height: 20.00pt;
            font-size: 20.00pt;
        }

    p.docx_heading2 {
        margin-top: 6.00pt;
        margin-bottom: 2.00pt;
    }

        p.docx_heading2 span {
            font-family: var(--docx-majorHAnsi-font);
            color: #0F4761;
            min-height: 16.00pt;
            font-size: 16.00pt;
        }

        p.docx_heading2 span {
            font-family: var(--docx-majorHAnsi-font);
            color: #0F4761;
            min-height: 16.00pt;
            font-size: 16.00pt;
        }

    p.docx_heading3 {
        margin-top: 6.00pt;
        margin-bottom: 2.00pt;
    }

        p.docx_heading3 span {
            color: #0F4761;
            min-height: 14.00pt;
            font-size: 14.00pt;
        }

        p.docx_heading3 span {
            color: #0F4761;
            min-height: 14.00pt;
            font-size: 14.00pt;
        }

    p.docx_heading4 {
        margin-top: 4.00pt;
        margin-bottom: 2.00pt;
    }

        p.docx_heading4 span {
            font-style: italic;
            color: #0F4761;
        }

        p.docx_heading4 span {
            font-style: italic;
            color: #0F4761;
        }

    p.docx_heading5 {
        margin-top: 4.00pt;
        margin-bottom: 2.00pt;
    }

        p.docx_heading5 span {
            color: #0F4761;
        }

        p.docx_heading5 span {
            color: #0F4761;
        }

    p.docx_heading6 {
        margin-top: 2.00pt;
        margin-bottom: 0.00pt;
    }

        p.docx_heading6 span {
            font-style: italic;
            color: #595959;
        }

        p.docx_heading6 span {
            font-style: italic;
            color: #595959;
        }

    p.docx_heading7 {
        margin-top: 2.00pt;
        margin-bottom: 0.00pt;
    }

        p.docx_heading7 span {
            color: #595959;
        }

        p.docx_heading7 span {
            color: #595959;
        }

    p.docx_heading8 {
        margin-bottom: 0.00pt;
    }

        p.docx_heading8 span {
            font-style: italic;
            color: #272727;
        }

        p.docx_heading8 span {
            font-style: italic;
            color: #272727;
        }

    p.docx_heading9 {
        margin-bottom: 0.00pt;
    }

        p.docx_heading9 span {
            color: #272727;
        }

        p.docx_heading9 span {
            color: #272727;
        }

    .docx table, table.docx_tablenormal td {
        padding-top: 0.00pt;
        padding-left: 5.40pt;
        padding-bottom: 0.00pt;
        padding-right: 5.40pt;
    }

    span.docx_heading1char {
        font-family: var(--docx-majorHAnsi-font);
        color: #0F4761;
        min-height: 20.00pt;
        font-size: 20.00pt;
    }

        span.docx_heading1char p {
            margin-top: 16.00pt;
            margin-bottom: 2.00pt;
        }

    span.docx_heading1char {
        font-family: var(--docx-majorHAnsi-font);
        color: #0F4761;
        min-height: 20.00pt;
        font-size: 20.00pt;
    }

    span.docx_heading2char {
        font-family: var(--docx-majorHAnsi-font);
        color: #0F4761;
        min-height: 16.00pt;
        font-size: 16.00pt;
    }

        span.docx_heading2char p {
            margin-top: 6.00pt;
            margin-bottom: 2.00pt;
        }

    span.docx_heading2char {
        font-family: var(--docx-majorHAnsi-font);
        color: #0F4761;
        min-height: 16.00pt;
        font-size: 16.00pt;
    }

    span.docx_heading3char {
        color: #0F4761;
        min-height: 14.00pt;
        font-size: 14.00pt;
    }

        span.docx_heading3char p {
            margin-top: 6.00pt;
            margin-bottom: 2.00pt;
        }

    span.docx_heading3char {
        color: #0F4761;
        min-height: 14.00pt;
        font-size: 14.00pt;
    }

    span.docx_heading4char {
        font-style: italic;
        color: #0F4761;
    }

        span.docx_heading4char p {
            margin-top: 4.00pt;
            margin-bottom: 2.00pt;
        }

    span.docx_heading4char {
        font-style: italic;
        color: #0F4761;
    }

    span.docx_heading5char {
        color: #0F4761;
    }

        span.docx_heading5char p {
            margin-top: 4.00pt;
            margin-bottom: 2.00pt;
        }

    span.docx_heading5char {
        color: #0F4761;
    }

    span.docx_heading6char {
        font-style: italic;
        color: #595959;
    }

        span.docx_heading6char p {
            margin-top: 2.00pt;
            margin-bottom: 0.00pt;
        }

    span.docx_heading6char {
        font-style: italic;
        color: #595959;
    }

    span.docx_heading7char {
        color: #595959;
    }

        span.docx_heading7char p {
            margin-top: 2.00pt;
            margin-bottom: 0.00pt;
        }

    span.docx_heading7char {
        color: #595959;
    }

    span.docx_heading8char {
        font-style: italic;
        color: #272727;
    }

        span.docx_heading8char p {
            margin-bottom: 0.00pt;
        }

    span.docx_heading8char {
        font-style: italic;
        color: #272727;
    }

    span.docx_heading9char {
        color: #272727;
    }

        span.docx_heading9char p {
            margin-bottom: 0.00pt;
        }

    span.docx_heading9char {
        color: #272727;
    }

    p.docx_title {
        margin-bottom: 2.00pt;
        line-height: 1.00;
    }

        p.docx_title span {
            font-family: var(--docx-majorHAnsi-font);
            min-height: 28.00pt;
            font-size: 28.00pt;
        }

        p.docx_title span {
            font-family: var(--docx-majorHAnsi-font);
            min-height: 28.00pt;
            font-size: 28.00pt;
        }

    span.docx_titlechar {
        font-family: var(--docx-majorHAnsi-font);
        min-height: 28.00pt;
        font-size: 28.00pt;
    }

        span.docx_titlechar p {
            margin-bottom: 2.00pt;
            line-height: 1.00;
        }

    span.docx_titlechar {
        font-family: var(--docx-majorHAnsi-font);
        min-height: 28.00pt;
        font-size: 28.00pt;
    }

    p.docx_subtitle {
    }

        p.docx_subtitle span {
            color: #595959;
            min-height: 14.00pt;
            font-size: 14.00pt;
        }

        p.docx_subtitle span {
            color: #595959;
            min-height: 14.00pt;
            font-size: 14.00pt;
        }

    span.docx_subtitlechar {
        color: #595959;
        min-height: 14.00pt;
        font-size: 14.00pt;
    }

        span.docx_subtitlechar p {
        }

    span.docx_subtitlechar {
        color: #595959;
        min-height: 14.00pt;
        font-size: 14.00pt;
    }

    p.docx_quote {
        margin-top: 8.00pt;
        text-align: center;
    }

        p.docx_quote span {
            font-style: italic;
            color: #404040;
        }

        p.docx_quote span {
            font-style: italic;
            color: #404040;
        }

    span.docx_quotechar {
        font-style: italic;
        color: #404040;
    }

        span.docx_quotechar p {
            margin-top: 8.00pt;
            text-align: center;
        }

    span.docx_quotechar {
        font-style: italic;
        color: #404040;
    }

    p.docx_listparagraph {
        margin-left: 36.00pt;
    }

    span.docx_intenseemphasis {
        font-style: italic;
        color: #0F4761;
    }

    p.docx_intensequote {
        border-top: 0.50pt solid #0F4761;
        border-bottom: 0.50pt solid #0F4761;
        margin-top: 18.00pt;
        margin-bottom: 18.00pt;
        margin-left: 43.20pt;
        margin-right: 43.20pt;
        text-align: center;
    }

        p.docx_intensequote span {
            font-style: italic;
            color: #0F4761;
        }

        p.docx_intensequote span {
            font-style: italic;
            color: #0F4761;
        }

    span.docx_intensequotechar {
        font-style: italic;
        color: #0F4761;
    }

        span.docx_intensequotechar p {
            border-top: 0.50pt solid #0F4761;
            border-bottom: 0.50pt solid #0F4761;
            margin-top: 18.00pt;
            margin-bottom: 18.00pt;
            margin-left: 43.20pt;
            margin-right: 43.20pt;
            text-align: center;
        }

    span.docx_intensequotechar {
        font-style: italic;
        color: #0F4761;
    }

    span.docx_intensereference {
        font-weight: bold;
        text-transform: lowercase;
        color: #0F4761;
    }

    table.docx_tablegrid p {
        margin-bottom: 0.00pt;
        line-height: 1.00;
    }

    table.docx_tablegrid td {
        border-top: 0.50pt solid black;
        border-left: 0.50pt solid black;
        border-bottom: 0.50pt solid black;
        border-right: 0.50pt solid black;
        padding-top: 0.00pt;
        padding-left: 5.40pt;
        padding-bottom: 0.00pt;
        padding-right: 5.40pt;
    }

</style>
<div id="getInPrintElement" class="docx-wrapper">
    <section class="docx" style="padding: 36pt; width: 595.3pt; min-height: 26.7cm;">
        <article>
            <div style="display: block; position: relative; text-indent: 0px; width: 0px; height: 0px; left: 468pt; top: -27.32pt;">
                <img style="position: relative; left: 0pt; top: 0pt; width: 79.16pt; height: 63.89pt;" src="../images/image002.png" />
            </div>
            <span style="padding-right: 3%;float: right;font-family:KaLaTeXaTEXT; font-weight: bold; color: rgb(126, 55, 33); min-height: 28pt; font-size: 28pt;">ใบรับเข้าสินค้า</span>
            <img style="/* position: relative; */left: 0pt;top: 0pt;/* width: 79.16pt; *//* height: 63.89pt; */" src="../images/image001.png">
            <div style="padding-top:3%">
                <table class="first-row first-col no-vband docx_tablegrid" style="/* float: left; margin-left: 9pt; margin-right: 9pt;  */width:100%;">
                    <colgroup>
                       @*  <col style="width: 120.5pt;">
                        <col style="width: 120.5pt;">
                        <col style="width: 14.15pt;">
                        <col style="width: 106.35pt;">
                        <col style="width: 120.45pt;"> *@
                    </colgroup>
                    <tr style="height: 6.8pt;">
                        <td style="width: 120.5pt; vertical-align: middle; border-width: 0pt; border-style: solid; border-color: black;">
                            <p style="min-height: 23pt; line-height: 23pt; text-align: right;">
                                <span style="font-family:KaLaTeXaTEXT; font-weight: bold; color: rgb(126, 55, 33); min-height: 18pt; font-size: 14pt;">เลขที่เอกสารใบรับเข้า</span>
                            </p>
                        </td>
                        <td style="width: 120.5pt; vertical-align: middle; border-width: 0pt; border-style: solid; border-color: black;">
                            <p style="min-height: 23pt; line-height: 23pt;">
                                <span id="getindoccode" style="font-family:KaLaTeXaTEXT; font-weight: bold; color: rgb(126, 55, 33); min-height: 18pt; font-size: 14pt;"></span>
                            </p>
                        </td>
                        <td style="width: 14.15pt; vertical-align: middle; border-width: 0pt; border-style: solid; border-color: black;">
                            <p style="min-height: 23pt; line-height: 23pt; text-align: center;"></p>
                        </td>
                        <td style="width: 106.35pt; vertical-align: middle; border-width: 0pt; border-style: solid; border-color: black;">
                            <p style="min-height: 23pt; line-height: 23pt; text-align: right;">
                                <span style="font-family:KaLaTeXaTEXT; font-weight: bold; color: rgb(126, 55, 33); min-height: 18pt; font-size: 14pt;">ผู้รับเข้า</span>
                            </p>
                        </td>
                        <td style="width: 120.45pt; border-width: 0pt; border-style: solid; border-color: black;">
                            <p style="min-height: 23pt; line-height: 23pt; text-align: center;">
                                <span id="spnreciver" style="font-family:KaLaTeXaTEXT; font-weight: bold; color: rgb(126, 55, 33); min-height: 18pt; font-size: 14pt;"></span>
                            </p>
                        </td>
                    </tr>
                    <tr style="height: 14.5pt;">
                        <td style="width: 120.5pt; vertical-align: middle; border-width: 0pt; border-style: solid; border-color: black;">
                            <p style="min-height: 23pt; line-height: 23pt; text-align: right;">
                                <span style="font-family:KaLaTeXaTEXT; font-weight: bold; color: rgb(126, 55, 33); min-height: 18pt; font-size: 14pt;">วันที่ออกเอกสาร</span>
                            </p>
                        </td>
                        <td style="width: 120.5pt; vertical-align: middle; border-width: 0pt; border-style: solid; border-color: black;">
                            <p style="min-height: 23pt; line-height: 23pt;">
                                <span id="spnCreateDate" style="font-family:KaLaTeXaTEXT; font-weight: bold; color: rgb(126, 55, 33); min-height: 18pt; font-size: 14pt;"></span>
                            </p>
                        </td>
                        <td style="width: 14.15pt; vertical-align: middle; border-width: 0pt; border-style: solid; border-color: black;">
                            <p style="min-height: 23pt; line-height: 23pt; text-align: center;"></p>
                        </td>
                        <td style="width: 106.35pt; vertical-align: middle; border-width: 0pt; border-style: solid; border-color: black;">
                            <p style="min-height: 23pt; line-height: 23pt; text-align: right;">
                                <span style="font-family:KaLaTeXaTEXT; font-weight: bold; color: rgb(126, 55, 33); min-height: 18pt; font-size: 14pt;">รายละเอียดผู้รับเข้า</span>
                            </p>
                        </td>
                        <td style="width: 120.45pt; border-width: 0pt; border-style: solid; border-color: black;">
                            <p style="min-height: 23pt; line-height: 23pt; text-align: center;">
                                <span id="spnreciverPosition" style="font-family:KaLaTeXaTEXT; font-weight: bold; color: rgb(126, 55, 33); min-height: 18pt; font-size: 14pt;"></span>
                            </p>
                        </td>
                    </tr>
                </table>

            </div>
            <hr />

            @*   <p style="margin-left: 144pt; text-align: right;">
            <span style="font-family:KaLaTeXaTEXT; font-weight: bold; color: rgb(126, 55, 33); min-height: 28pt; font-size: 28pt;">
            <span class="docx-tab-stop"> </span>
            </span>
            </p> *@
            <div style="padding-top:3%;">
                <table id="tb-getin-print" class="first-row first-col no-vband docx_tablegrid" style="width:100%">
                    @*                 <colgroup>
                    <col style="width: 0.4pt;">
                    <col style="width: 35.25pt;">
                    <col style="width: 136.25pt;">
                    <col style="width: 90.8pt;">
                    <col style="width: 70.8pt;">
                    <col style="width: 42.55pt;">
                    <col style="width: 148.45pt;">
                    </colgroup> *@
                    <thead>
                        <tr style="height: 19.8pt;">
                            <td style="width: 25.25pt; border-width: 1.5pt 0pt 0pt; border-style: solid; border-color: rgb(126, 55, 33) black black; background-color: rgb(126, 55, 33); vertical-align: middle;"><p style="text-align: center;"><span style="font-family:KaLaTeXaTEXT; font-weight: bold; color: rgb(255, 255, 255); min-height: 16pt; font-size: 14pt;">#</span></p></td>
                            <td style="width: 136.25pt; border-width: 1.5pt 0pt 0pt; border-style: solid; border-color: rgb(126, 55, 33) black black; vertical-align: middle;"><p style="text-align: center;"><span style="font-family:KaLaTeXaTEXT; font-weight: bold; min-height: 16pt; font-size: 14pt;">รายละเอียดสินค้า</span></p></td>
                            <td style="width: 90.8pt; border-width: 1.5pt 0pt 0pt; border-style: solid; border-color: rgb(126, 55, 33) black black; vertical-align: middle;"><p style="text-align: center;"><span style="font-family:KaLaTeXaTEXT; font-weight: bold; min-height: 16pt; font-size: 14pt;">คลังสินค้า</span></p></td>
                            <td style="width: 80.8pt; border-width: 1.5pt 0pt 0pt; border-style: solid; border-color: rgb(126, 55, 33) black black; vertical-align: middle;"><p style="text-align: center;"><span style="font-family:KaLaTeXaTEXT; font-weight: bold; min-height: 16pt; font-size: 14pt;">จำนวน</span></p></td>
                            <td style="width: 42.55pt; border-width: 1.5pt 0pt 0pt; border-style: solid; border-color: rgb(126, 55, 33) black black; vertical-align: middle;"><p style="text-align: center;"><span style="font-family:KaLaTeXaTEXT; font-weight: bold; min-height: 16pt; font-size: 14pt;">หน่วย</span></p></td>
                            <td style="width: 148.45pt; border-width: 1.5pt 0pt 0pt; border-style: solid; border-color: rgb(126, 55, 33) black black; vertical-align: middle;"><p style="text-align: center;"><span style="font-family:KaLaTeXaTEXT; font-weight: bold; min-height: 16pt; font-size: 14pt;">หมายเหตุ</span></p></td>
                        </tr>
                    </thead>
                    <tbody id="tb-getin-itemlist">
                    </tbody>
                  

                </table>
            </div>

            <div style="position:absolute;bottom:0;">
                <div style="padding-bottom:7%">
                    <table class="first-row first-col no-vband docx_tablegrid" style="float: right;">
                        <colgroup>
                           @*  <col style="width: 70.9pt;">
                            <col style="width: 113.4pt;">
                            <col style="width: 61.45pt;"> *@
                        </colgroup>
                        <tr>
                            <td style="width: 70.9pt; border-width: 0pt; border-style: solid; border-color: black;">
                                <p style="text-align: right;">
                                    <span style="font-family:KaLaTeXaTEXT; min-height: 14pt; font-size: 10pt;">จำนวนรายการ</span>
                                </p>
                            </td>
                            <td style="width: 113.4pt; border-width: 0pt; border-style: solid; border-color: black;">
                                <p style="text-align: right;">
                                    <span id="spnTotalQty" style="font-family:KaLaTeXaTEXT; min-height: 14pt; font-size: 10pt;"></span>
                                </p>
                            </td>
                            <td style="width: 61.45pt; border-width: 0pt; border-style: solid; border-color: black;">
                                <p style="text-align: right;">
                                    <span style="font-family:KaLaTeXaTEXT; min-height: 14pt; font-size: 10pt;">รายการ</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 70.9pt; border-width: 0pt; border-style: solid; border-color: black;">
                                <p style="text-align: right;">
                                    <span style="font-family:KaLaTeXaTEXT; min-height: 14pt; font-size: 10pt;">จำนวนสินค้า</span>
                                </p>
                            </td>
                            <td style="width: 113.4pt; border-width: 0pt; border-style: solid; border-color: black;">
                                <p style="text-align: right;">
                                    <span id="spnTotalAmount" style="font-family:KaLaTeXaTEXT; min-height: 14pt; font-size: 10pt;"></span>
                                </p>
                            </td>
                            <td style="width: 61.45pt; border-width: 0pt; border-style: solid; border-color: black;"><p style="text-align: right;"><span style="font-family:KaLaTeXaTEXT; min-height: 14pt; font-size: 10pt;">หน่วย</span></p></td>
                        </tr>
                    </table>
                </div>
                <img style="/* position: relative; */left: 0pt;top: 0pt;/* width: 79.16pt; *//* height: 63.89pt; */" src="../images/image001.png">
                <div style="padding-top:3%">
                    <table class="first-row first-col no-vband docx_tablegrid" style="">
                        <colgroup>
                            <col style="width: 254pt;">
                            <col style="width: 241.9pt;">
                        </colgroup>
                        <tr>
                            <td style="width: 254pt; border-width: 0pt; border-style: solid; border-color: black;"><p style="text-align: center;"><span style="font-family:KaLaTeXaTEXT; min-height: 16pt; font-size: 16pt;">(………………………………………….)</span></p></td>
                            <td style="width: 241.9pt; border-width: 0pt; border-style: solid; border-color: black;"><p style="text-align: center;"><span style="font-family:KaLaTeXaTEXT; min-height: 16pt; font-size: 16pt;">(………………………………………….)</span></p></td>
                        </tr>
                        <tr><td style="width: 254pt; border-width: 0pt; border-style: solid; border-color: black;"><p style="text-align: center;"><span style="font-family:KaLaTeXaTEXT; min-height: 16pt; font-size: 14pt;">ผู้ส่ง/ผู้ตรวจสอบสินค้า</span></p></td><td style="width: 241.9pt; border-width: 0pt; border-style: solid; border-color: black;"><p style="text-align: center;"><span style="font-family:KaLaTeXaTEXT; min-height: 16pt; font-size: 14pt;">ผู้รับสินค้า</span></p></td></tr>
                    </table>
                </div>
            </div>


        </article>
    </section>
</div>