<style>
    .loader {
        z-index: 10000;
    }

    .style-details, .type-details, .item-details {
        cursor: pointer !important;
    }

    .hidecol {
        display: none;
    }

    #tb-product-list tbody tr, #tb-type-list tbody tr, #tb-style-list tbody tr, #tb-product-quickQT-list tbody tr, #tb-group-list tbody tr {
        cursor: pointer !important;
    }




    .no-display {
        display: none;
    }

    .btn-add-custom {
        color: #F09723;
        background-color: transparent /*#0d6efd*/;
        border-color: transparent /*#0d6efd*/;
        font-size: 16px;
    }
</style>
<div class="container-fluid">
    <div class="card mt-4">
        <div class="card-body">
            <div class="row mt-2">
                <form id="form-search-receiver">
                    <div class="row col-sm-12">

                        <div class="col-sm-2">
                            <label>รหัสพนักงานผู้รับสินค้า</label>
                            <input type="text" class="form-control" id="input-search-receiver-code" placeholder="">
                        </div>
                        <div class="col-sm-2">
                            <label>ชื่อพนักงานผู้รับสินค้า</label>
                            <input type="text" class="form-control" id="input-search-receiver-name" placeholder="">
                        </div>
                        <div class="col-sm-2">
                            <label>สถานะ</label>
                            <select class="form-select" id="select-search-receiver-status">
                                <option></option>
                            </select>
                        </div>

                        <div class="col-sm-6 mt-4 text-end">
                            <button type="button" class="btn btn-default-custom btn-clear-search-receiver">ล้างข้อมูล</button>
                            <button type="button" class="btn btn-primary btn-search-receiver">ค้นหา</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-sm-2 mt-2">
                <button type="button" class="btn-add-custom btn-add-receiver"><img src="~/images/user.png" width="25px" /> เพิ่มผู้รับสินค้า</button>
            </div>

            <div class="row col-sm-12 mt-2">
                <table class="table no-footer" id="tb-receiver-list" width="100%">
                    <thead>
                        <tr>
                            <th class="hidecol"><span>id</span></th>
                            <th><span>รหัสพนักงานผู้รับสินค้า</span></th>
                            <th><span>ชื่อพนักงานผู้รับสินค้า</span></th>
                            <th><span>วันที่สร้าง</span></th>
                            <th><span>ผู้สร้าง</span></th>
                            <th><span>วันที่แก้ไขล่าสุด</span></th>
                            <th><span>ผู้แก้ไขล่าสุด</span></th>
                            <th><span>สถานะ</span></th>
                            <th id="edit-action"><span>แก้ไข</span></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*modal for create Receiver*@
<div id="modal-createReceiver" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center"><span id="itemHeader"></span></h4>
            </div>
            <div class="modal-body">
                <form id="form-createReceiver">
                    <div class="row d-sm-flex">
                        @*<div class="col-sm-12">*@
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รหัสพนักงานผู้รับสินค้า<span class="text-danger">*</span></label>
                                    <input type="hidden" id="input-receiver-id" name="input-receiver-id" />
                                    <select class="form-select" id="select-receiver-empcode" data-selected="" name="select-receiver-empcode" onchange="onempCodeChangeListChange();"></select>
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อพนักงานผู้รับสินค้า<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-receiver-name" name="input-receiver-name" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-receiver-status" data-selected="" name="select-receiver-status"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary btn-modal-save-receiver"><i class="fas fa-save" aria-hidden="true"></i> บันทึก</button>
                <button type="button" class="btn btn-default-custom" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

@*modal for view Receiver*@
<div id="modal-viewReceiver" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center">ดูข้อมูลหมวดหมู่หลัก</h4>
            </div>
            <div class="modal-body">
                <form id="form-createReceiver">
                    <div class="row d-sm-flex">
                        @*<div class="col-sm-12">*@
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รหัสพนักงานผู้รับสินค้า<span class="text-danger">*</span></label>
                                    <input type="hidden" id="input-receiver-id" name="input-receiver-id" />
                                    <select class="form-select" id="select-receiver-empcode" data-selected="" name="select-receiver-empcode" onchange="onempCodeChangeListChange();" disabled></select>
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อพนักงานผู้รับสินค้า<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" id="input-receiver-name" name="input-receiver-name" disabled />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-receiver-status" data-selected="" name="select-receiver-status" disabled></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ปิดหน้าจอ</button>
            </div>
        </div>
    </div>
</div>
