
<div class="container-fluid" id="divEmpWarning">
    <div class="row col-sm-12 mt-2">
        <table class="table no-footer" id="tb-emp-warning-document-list" width="100%">
            <thead>
                <tr>
                    <th width="5%"><span>ลำดับ</span></th>
                    <th width="20%"><span>เอกสารใบเตือน/ใบปลด</span></th>
                    <th width="10%"><span>ดูเอกสาร</span></th>
                    <th width="10%"><span>ดาวน์โหลดเอกสาร</span></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
