@{
    ViewData["Title"] = "ฝ่ายบุคคล";
}

<style>
    .loader {
        z-index: 10000;
    }

    #tb-leave-type-list tbody tr {
        cursor: pointer !important;
    }

    .table tr th {
        background-color: #F09723;
        color: #FFF;
        text-align: center !important;
    }

    #tb-menu-list tr th, #tb-view-menu-list tr th {
        background-color: #e9ecef;
        color: #000;
        vertical-align: middle !important;
    }

    .no-display {
        display: none;
    }

    .text-primary-custom {
        color: #F09723;
    }

    .btn-add-custom {
        color: #F09723;
        background-color: transparent /*#0d6efd*/;
        border-color: transparent /*#0d6efd*/;
        font-size: 16px;
    }

</style>

<div class="row">
    <div class="col-sm-12 mt-2">
        <nav>
            <div class="nav nav-tabs" id="nav-tab-leave" role="tablist">
                <button class="nav-link active" id="nav-leave-type-tab" data-bs-toggle="tab" data-bs-target="#nav-leave-type" type="button" role="tab" aria-controls="nav-leave-type" aria-selected="true" style="margin-right:2px;">ประเภทการลา</button>
                <button class="nav-link" id="nav-leave-information-tab" data-bs-toggle="tab" data-bs-target="#nav-leave-information" type="button" role="tab" aria-controls="nav-leave-information" aria-selected="false" style="margin-right:2px;">ข้อมูลการลา</button>
                <button class="nav-link" id="nav-leave-summary-tab" data-bs-toggle="tab" data-bs-target="#nav-leave-summary" type="button" role="tab" aria-controls="nav-leave-summary" aria-selected="false" style="margin-right:2px;">สรุปวันลา</button>
            </div>
        </nav>
        <div class="tab-content" id="nav-tab-leave-tabContent">
            <div class="tab-pane fade show active" id="nav-leave-type" role="tabpanel" aria-labelledby="nav-leave-type-tab">
                <div class="container-fluid" id="divLeaveType">
                    <div class="row mt-2">
                        <form id="form-search-leave-type">
                            <div class="row col-sm-12">
                                <div class="col-sm-2">
                                    <label>ประเภทการลา</label>
                                    <select class="form-select" id="select-search-leave-type">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label>สถานะ</label>
                                    <select class="form-select" id="select-search-leave-status">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-sm-8 mt-4 text-end">
                                    <button type="button" class="btn btn-default-custom btn-clear-search-leave-type">ล้างข้อมูล</button>
                                    <button type="button" class="btn btn-primary btn-search-leave-type">ค้นหา</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row col-sm-12 mt-2">
                        <table class="table no-footer" id="tb-leave-type-list" width="100%">
                            <thead>
                                <tr>
                                    <th width="5%"><span>ลำดับ</span></th>
                                    <th><span>ประเภทการลา</span></th>
                                    <th width="10%"><span>จำนวนวันลา</span></th>
                                    <th><span>รายละเอียดเงื่อนไข</span></th>
                                    <th><span>วันที่แก้ไขล่าสุด</span></th>
                                    <th><span>ผู้แก้ไขล่าสุด</span></th>
                                    <th><span>สถานะ</span></th>
                                    <th id="edit-action"><span>แก้ไข</span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-leave-information" role="tabpanel" aria-labelledby="nav-leave-information-tab">
                <div class="container-fluid">
                    <div class="row mt-2">
                        <form id="form-search-leave-information">
                            <div class="row col-sm-12">
                                <div class="col-sm-2">
                                    <label>รหัสพนักงาน</label>
                                    <input type="text" class="form-control" id="input-search-leave-emp-code" name="input-search-leave-emp-code" placeholder="" />
                                </div>
                                <div class="col-sm-2">
                                    <label>ชื่อพนักงาน</label>
                                    <input type="text" class="form-control" id="input-search-leave-emp-name" name="input-search-leave-emp-name" placeholder="" />
                                </div>
                                <div class="col-sm-2">
                                    <label>ประเภทการลา</label>
                                    <select class="form-select" id="select-search-leave-type">
                                        <option></option>
                                    </select>
                                </div>
                                <div class="col-sm-2">
                                    <label>วันที่ลาเริ่มต้น</label>
                                    <input type="date" class="form-control" id="input-search-leave-start-date" name="input-search-leave-start-date" />
                                </div>
                                <div class="col-sm-2">
                                    <label>วันที่ลาสิ้นสุด</label>
                                    <input type="date" class="form-control" id="input-search-leave-end-date" name="input-search-leave-end-date" />
                                </div>
                                <div class="col-sm-2 mt-4 text-end">
                                    <button type="button" class="btn btn-default-custom btn-clear-search-role">ล้างข้อมูล</button>
                                    <button type="button" class="btn btn-primary btn-search-role">ค้นหา</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-sm-2 mt-2">
                        <button type="button" class="btn-add-custom btn-add-leave"><img src="~/images/add-user.png" width="25px" /> เพิ่มข้อมูลการลา</button>
                    </div>

                    <div class="row col-sm-12 mt-2">
                        <table class="table no-footer" id="tb-leave-list" width="100%">
                            <thead>
                                <tr>
                                    <th><span>รหัสพนักงาน</span></th>
                                    <th><span>ชื่อพนักงาน</span></th>
                                    <th><span>ประเภทการลา</span></th>
                                    <th><span>วันที่ลา</span></th>
                                    <th><span>ระยะเวลา (วัน)</span></th>
                                    <th><span>วันที่สร้าง</span></th>
                                    <th><span>ผู้สร้าง</span></th>
                                    <th><span>วันที่แก้ไขล่าสุด</span></th>
                                    <th><span>ผู้แก้ไขล่าสุด</span></th>
                                    <th id="edit-action"><span>แก้ไข</span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="nav-leave-summary" role="tabpanel" aria-labelledby="nav-leave-summary-tab">
                <div class="container-fluid">
                    <div class="row mt-2">
                        <form id="form-search-leave-summary">
                            <div class="row col-sm-12">
                                <div class="col-sm-2">
                                    <label>รหัสพนักงาน</label>
                                    <input type="text" class="form-control" id="input-search-leave-emp-code" name="input-search-leave-emp-code" placeholder="" />
                                </div>
                                <div class="col-sm-2">
                                    <label>ชื่อพนักงาน</label>
                                    <input type="text" class="form-control" id="input-search-leave-emp-name" name="input-search-leave-emp-name" placeholder="" />
                                </div>
                                <div class="col-sm-8 mt-4 text-end">
                                    <button type="button" class="btn btn-default-custom btn-clear-search-leave-summary">ล้างข้อมูล</button>
                                    <button type="button" class="btn btn-primary btn-search-leave-summary">ค้นหา</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row col-sm-12 mt-2">
                        <table class="table no-footer" id="tb-leave-summary-list" width="100%">
                            <thead>
                                <tr>
                                    <th><span>ลำดับ</span></th>
                                    <th><span>ประเภทการลา</span></th>
                                    <th><span>รายละเอียดเงื่อนไข</span></th>
                                    <th><span>จำนวนวันที่ใช้ได้ตามสิทธิ์</span></th>
                                    <th><span>จำนวนวันลาที่ใช้</span></th>
                                    <th><span>จำนวนวันลาคงเหลือ</span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="modal-editLeaveType" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center">แก้ไขประเภทการลา</h4>
            </div>
            <div class="modal-body">
                <form id="form-editLeaveType">
                    <div class="row d-sm-flex">
                        @*<div class="col-sm-12">*@
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ลำดับ</label>
                                    <input class="form-control" type="text" id="input-leave-type-id" name="input-leave-type-id" disabled />
                                </div>

                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">จำนวนวันลา<span class="text-danger">*</span></label>
                                    <input class="form-control" type="number" id="input-leave-days" name="input-leave-days" />
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-12 mb-2">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รายละเอียดเงื่อนไข</label>
                                    <textarea class="form-control" id="input-leave-detail" name="input-leave-detail" rows="3" disabled></textarea>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-leave-type-status" data-selected="" name="select-leave-type-status"></select>
                                </div>

                            </div>

                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary btn-modal-save-leave-type"><i class="fas fa-save" aria-hidden="true"></i> บันทึก</button>
                <button type="button" class="btn btn-default-custom" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-viewLeaveType" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center">ดูข้อมูลประเภทการลา</h4>
            </div>
            <div class="modal-body">
                <form id="form-editLeaveType">
                    <div class="row d-sm-flex">
                        @*<div class="col-sm-12">*@
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ลำดับ</label>
                                    <input class="form-control" type="text" id="input-leave-type-id" name="input-leave-type-id" disabled />
                                </div>

                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">จำนวนวันลา<span class="text-danger">*</span></label>
                                    <input class="form-control" type="number" id="input-leave-days" name="input-leave-days" disabled />
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-12 mb-2">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รายละเอียดเงื่อนไข</label>
                                    <textarea class="form-control" id="input-leave-detail" name="input-leave-detail" rows="3" disabled></textarea>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-leave-type-status" data-selected="" name="select-leave-type-status" disabled></select>
                                </div>

                            </div>

                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ปิดหน้าจอ</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-createLeave" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center"><span id="leaveHeader"></span></h4>
            </div>
            <div class="modal-body">
                <form id="form-createLeave">
                    <div class="row d-sm-flex">
                        <div class="col-sm-6">
                            <div class="row">

                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รหัสพนักงาน<span class="text-danger">*</span></label>
                                    <select class="form-select" id="select-leave-empCode" data-selected="" name="select-leave-empCode"></select>
                                </div>

                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ประเภทการลา<span class="text-danger">*</span></label>
                                    <select class="form-select" id="select-leave-type" data-selected="" name="select-leave-type"></select>
                                </div>

                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">ชื่อพนักงาน<span class="text-danger">*</span></label>
                                    <select class="form-select" id="select-leave-empName" data-selected="" name="select-leave-empName"></select>
                                </div>                                

                            </div>
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="row">

                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">วันที่ลาเริ่มต้น<span class="text-danger">*</span></label>
                                    <div class="input-group" id="datepickerLeave">
                                        <input type="date" class="form-control" id="input-leave-start-date" name="input-leave-start-date" />
                                    </div>
                                </div>

                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">เวลา<span class="text-danger">*</span></label>
                                    <select class="form-select" id="select-leave-hour" data-selected="" name="select-leave-hour"></select>

                                </div>

                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="row">

                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">วันที่ลาสิ้นสุด<span class="text-danger">*</span></label>
                                    <div class="input-group" id="datepickerLeave">
                                        <input type="date" class="form-control" id="input-leave-end-date" name="input-leave-end-date" />
                                    </div>
                                </div>

                                <div class="row col-sm-12 mb-2">
                                    <div class="col-sm-9 mb-2">
                                        <label class="control-label">ระยะเวลา</label>
                                        <input type="number" class="form-control" id="input-leave-days" name="input-leave-days" disabled />
                                    </div>
                                    <div class="col-sm-3">
                                        <button type="button" class="btn btn-default-custom">คำนวณเวลา</button>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-sm-12 mb-2">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">รายละเอียดเงื่อนไข</label>
                                    <textarea class="form-control" id="input-leave-detail" name="input-leave-detail" rows="3" disabled></textarea>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-leave-type-status" data-selected="" name="select-leave-type-status"></select>
                                </div>

                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary btn-modal-save-role"><i class="fas fa-save" aria-hidden="true"></i> บันทึก</button>
                <button type="button" class="btn btn-default-custom" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

@*modal for view role*@
<div id="modal-viewRole" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center">ดูข้อมูลบทบาท</h4>
            </div>
            <div class="modal-body">
                <form id="form-createRole">
                    <div class="row col-sm-12">
                        <div class="row col-sm-12">
                            <div class="col-sm-4">
                                <label>รหัสบทบาท<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="input-role-id" name="input-role-id" placeholder="" disabled />
                            </div>
                            <div class="col-sm-4">
                                <label>ชื่อบทบาท<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="input-role-name" name="input-role-name" placeholder="" />
                            </div>
                            <div class="col-sm-4">
                                <label class="control-label">สถานะ</label>
                                <select class="form-select" id="select-role-status" data-selected="" name="select-role-status"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row col-sm-12 mt-3">
                        <span class="mb-2">สิทธิ์การใช้งาน</span>
                        <table class="table no-footer" id="tb-view-menu-list" width="100%">
                            <thead>
                                <tr>
                                    <th rowspan="2" class="text-center">หน้าจอการใช้งาน</th>
                                    <th colspan="5" class="text-center">สิทธิ์การใช้งาน</th>
                                </tr>
                                <tr>
                                    <th class="text-center">ทั้งหมด</th>
                                    <th class="text-center">เพิ่ม</th>
                                    <th class="text-center">แก้ไข</th>
                                    <th class="text-center">อนุมัติ</th>
                                    <th class="text-center">ดูข้อมูล</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ปิดหน้าจอ</button>
            </div>
        </div>
    </div>
</div>

@*modal for create department*@
<div id="modal-createDepartment" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center"><span id="departmentHeader"></span></h4>
            </div>
            <div class="modal-body">
                <form id="form-createDepartment">
                    <div class="row d-sm-flex">
                        <div class="row d-sm-flex">

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">รหัสแผนก<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" id="input-department-code" name="input-department-code" disabled />
                                    </div>
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">สถานะ</label>
                                        <select class="select2-container form-select" id="select-department-status">
                                        </select>
                                    </div>

                                </div>

                            </div>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">ชื่อแผนก<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" id="input-department-name" name="input-department-name" />
                                    </div>
                                </div>
                            </div>

                            @*<div class="col-sm-12">*@


                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary btn-modal-save-department"><i class="fas fa-save" aria-hidden="true"></i> บันทึก</button>
                <button type="button" class="btn btn-default-custom" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

@*modal for view department*@
<div id="modal-viewDepartment" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center">ดูข้อมูลแผนก</h4>
            </div>
            <div class="modal-body">
                <form id="form-createDepartment">
                    <div class="row d-sm-flex">
                        <div class="row d-sm-flex">

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">รหัสแผนก<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" id="input-department-code" name="input-department-code" disabled />
                                    </div>
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">สถานะ</label>
                                        <select class="select2-container form-select" id="select-department-status" disabled>
                                        </select>
                                    </div>

                                </div>

                            </div>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">ชื่อแผนก<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" id="input-department-name" name="input-department-name" disabled />
                                    </div>
                                </div>
                            </div>

                            @*<div class="col-sm-12">*@


                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ปิดหน้าจอ</button>
            </div>
        </div>
    </div>
</div>

@*modal for create position*@
<div id="modal-createPosition" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center"><span id="positionHeader"></span></h4>
            </div>
            <div class="modal-body">
                <form id="form-createPosition">
                    <div class="row d-sm-flex">
                        <div class="row d-sm-flex">
                            @*<div class="col-sm-12">*@
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">รหัสตำแหน่ง<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" id="input-position-code" name="input-position-code" disabled />
                                    </div>
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">สถานะ</label>
                                        <select class="form-select" id="select-position-status" data-selected="" name="select-position-status"></select>
                                    </div>

                                </div>

                            </div>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">ชื่อตำแหน่ง<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" id="input-position-name" name="input-position-name" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary btn-modal-save-position"><i class="fas fa-save" aria-hidden="true"></i> บันทึก</button>
                <button type="button" class="btn btn-default-custom" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

@*modal for view position*@
<div id="modal-viewPosition" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center">ดูข้อมูลตำแหน่ง</h4>
            </div>
            <div class="modal-body">
                <form id="form-createPosition">
                    <div class="row d-sm-flex">
                        <div class="row d-sm-flex">
                            @*<div class="col-sm-12">*@
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">รหัสตำแหน่ง</label>
                                        <input class="form-control" type="text" id="input-position-code" name="input-position-code" disabled />
                                    </div>
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">สถานะ</label>
                                        <select class="form-select" id="select-position-status" data-selected="" name="select-position-status" disabled></select>
                                    </div>

                                </div>

                            </div>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">ชื่อตำแหน่ง</label>
                                        <input class="form-control" type="text" id="input-position-name" name="input-position-name" disabled />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ปิดหน้าจอ</button>
            </div>
        </div>
    </div>
</div>

@*modal for create holiday*@
<div id="modal-createHoliday" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center"><span id="holidayHeader"></span></h4>
            </div>
            <div class="modal-body">
                <form id="form-createHoliday">
                    <div class="row d-sm-flex">
                        <div class="row d-sm-flex">

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">ลำดับ<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" id="input-holiday-code" name="input-holiday-code" disabled />
                                    </div>
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">วันที่<span class="text-danger">*</span></label>
                                        <div class="input-group" id="datepickerHoliday">
                                            <input type="date" class="form-control" id="input-holiday-date" name="input-holiday-date" />
                                        </div>
                                    </div>

                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">สถานะ</label>
                                        <select class="form-select" id="select-holiday-status" data-selected="" name="select-holiday-status"></select>
                                    </div>

                                </div>

                            </div>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">วัน<span class="text-danger">*</span></label>
                                        <select class="form-select" id="select-holiday-day" data-selected="" name="select-holiday-day"></select>
                                    </div>
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">วันหยุด<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" id="input-holiday-name" name="input-holiday-name" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary btn-modal-save-holiday"><i class="fas fa-save" aria-hidden="true"></i> บันทึก</button>
                <button type="button" class="btn btn-default-custom" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

@*modal for view holiday*@
<div id="modal-viewHoliday" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center">ดูข้อมูลวันหยุด</h4>
            </div>
            <div class="modal-body">
                <form id="form-createHoliday">
                    <div class="row d-sm-flex">
                        <div class="row d-sm-flex">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">ลำดับ<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" id="input-holiday-code" name="input-holiday-code" disabled />
                                    </div>
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">วันที่<span class="text-danger">*</span></label>
                                        <div class="input-group" id="datepickerHoliday">
                                            <input type="date" class="form-control" id="input-holiday-date" name="input-holiday-date" disabled />
                                        </div>
                                    </div>

                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">สถานะ</label>
                                        <select class="form-control" id="select-holiday-status" data-selected="" name="select-holiday-status" disabled></select>
                                    </div>

                                </div>

                            </div>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">วัน<span class="text-danger">*</span></label>
                                        <select class="form-control" id="select-holiday-day" data-selected="" name="select-holiday-day" disabled></select>
                                    </div>
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">วันหยุด<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" id="input-holiday-name" name="input-holiday-name" disabled />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ปิดหน้าจอ</button>
            </div>
        </div>
    </div>

</div>