<div class="container-fluid">
    <div class="card mt-4">
        <div class="card-body">
        <div class="row mt-2">
            <form id="form-search-accounting">
                <div class="row col-sm-12">
                    <div class="col-sm-2">
                        <label>เลขที่สัญญา</label>
                        <input type="text" class="form-control" id="input-search-contract-number" name="input-search-contract-number" />
                    </div>
                    <div class="col-sm-2">
                        <label>เลขที่ใบเสนอราคา</label>
                        <input type="text" class="form-control" id="input-search-quotation-number" name="input-search-quotation-number" />
                    </div>
                    <div class="col-sm-2">
                        <label>ชื่อลูกค้า</label>
                        <input type="text" class="form-control" id="input-search-customer-name" name="input-search-customer-name" />
                    </div>
                    <div class="col-sm-2">
                        <label>สถานะเอกสารสัญญา</label>
                        <select class="form-select" id="select-search-contract-status">
                            <option></option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label>วันที่ออกสัญญา</label>
                        <input type="date" class="form-control" id="input-search-contract-date" name="input-search-contract-date" />
                    </div>
                    <div class="col-sm-2 mt-4 text-end">
                        <button type="button" class="btn btn-default-custom btn-clear-search-accounting">ล้างข้อมูล</button>
                        <button type="button" class="btn btn-primary btn-search-accounting">ค้นหา</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row col-sm-12 mt-2">
            <table class="table no-footer" id="tb-accounting-list" width="100%">
                <thead>
                    <tr>
                        <th><span>เลขที่สัญญา</span></th>
                        <th><span>เลขที่ใบเสนอราคา</span></th>
                        <th><span>ชื่อลูกค้า</span></th>
                        <th><span>สถานะเอกสารสัญญา</span></th>
                        <th><span>วันที่ออกสัญญา</span></th>
                        <th><span>ผู้ออกสัญญา</span></th>
                        <th><span>วันที่แก้ไขล่าสุด</span></th>
                        <th><span>ผู้แก้ไขล่าสุด</span></th>
                        <th><span>แก้ไข</span></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    </div>
</div>

@Html.Partial("modal/_editAccounting.cshtml")