@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

<style>
    
</style>

<div id="contractElement">
    <div class="row">
        <header>
            <div class="row col-sm-12">
                <div class="col-sm-2">
                    <img src="~/images/IMG_2178_resize.png" height="80px" width="auto">
                </div>

                <div class="col-sm-7 text-end" style="font-size:14px;">
                    <span>บริษัท เอ็ม บิ้วดิ้ง จำกัด (สำนักงานใหญ่)<br /></span>
                    <span>102/9 ซอยหลังวัดต้นสน ตำบลบางปลาสร้อย<br /></span>
                    <span>อำเภอเมืองชลบุรี จังหวัดชลบุรี 20000<br /></span>
                    <span>เลขประจำตัวผู้เสียภาษี 0205558020588<br /></span>
                    <span>โทร.089-6057840  Email : Mbuilding@hotmail.com</span>
                </div>

                <div class="col-sm-3 text-end" style="font-size:14px;">
                    <div>
                        <span>ต้นฉบับ/สำเนา</span>
                    </div>
                </div>
            </div>
        </header>

        <div class="row col-sm-12 mt-3" style="font-size:14px;">
            <span style="text-align:center">สัญญาซื้อขายเฟอร์นิเจอร์พร้อมติดตั้ง</span>
            <span> &emsp;สัญญานี้ทำขึ้นที่ บริษัท เอ็ม บิ้วดิ้ง จำกัด เลขทะเบียน 0205558020588 ที่อยู่ 102/9 ซอยหลังวัดต้นสน ตำบลบางปลาสร้อย อำเภอเมืองชลบุรี จังหวัดชลบุรี 20000 โดย นางสาวพิมพ์จิรา นิลกำแหง ที่อยู่ 1/38 หมู่ที่ 3 ตำบลเสม็ด อำเภอเมืองชลบุรี จังหวัดชลบุรี โทร 089-6057840 ตำแหน่งกรรมการผู้จัดการ </span>
            <span> ซึ่งต่อไปนี้จะเรียกในสัญญานี้ว่า "ผู้ขาย" </span>

            <span> &emsp;ฝ่ายหนึ่งกับ <span id="spnCustomerName"></span> ต่อไปในสัญญานี้จะเรียกว่า “ผู้ซื้อ” อีกฝ่ายหนึ่ง คู่สัญญาทั้งสองฝ่ายตกลงทำสัญญานี้ดังมี เงื่อนไขรายละเอียดต่อไปนี้ : </span>
            <span> &emsp;คู่สัญญาทั้งสองฝ่ายตกลงให้ถือเอาเอกสารที่แนบท้ายสัญญานี้เป็นส่วนหนึ่งแห่งสัญญานี้ด้วย คือ </span>
            <span> &emsp;1.1  ใบเสนอราคาของผู้ขาย ลงวันที่ <span id="spnQuotationDate"></span> จำนวน 1 ฉบับ</span>
            <span> &emsp;1.2  ใบแสดงรายละเอียดรายการและรูปแบบชิ้นงานเฟอร์นิเจอร์ จำนวน 1 ฉบับ</span>

            <span style="font-weight:bold;"> &emsp;ข้อ 1.  ข้อตกลงซื้อขาย</span>
            <span>&emsp;ผู้ขายตกลงขาย และผู้ซื้อตกลงซื้อสินค้าของผู้ขาย ตามรายการดังต่อไปนี้</span>
            <span id="spnItemOptions">&emsp;</span>
            <span>&emsp;จำนวนทั้งหมด <span id="spnItemOptionsQty"></span> โดยผู้ขายจะนำสินค้าที่ซื้อขายดังกล่าวในข้อนี้ ไปส่งและติดตั้งเฟอร์นิเจอร์ให้แก่ผู้ซื้อ ณ <span id="spnCustomerAddress"></span></span>
            <span>&emsp;หมายเหตุ     ค่าไฟฟ้า ค่าประปา ขณะบริการติดตั้งชิ้นงานเฟอร์นิเจอร์ ผู้ซื้อเป็นผู้รับผิดชอบ ราคาที่เสนอไปครอบคลุมเฉพาะรายการสินค้าและบริการที่เสนอไว้แล้วเท่านั้น </span>
            <span>หากมีรายการสินค้าเพิ่มเติมอื่นๆ นอกเหนือจากที่ตกลงตามสัญญานี้ ทางผู้ขาย จะเสนอราคาขายแก่ผู้ซื้อก่อนทุกครั้ง</span>

            <div class="mt-4">
                <span class="mt4">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;ลงชื่อ ........................................ ผู้ซื้อ                                     ลงชื่อ ........................................ ผู้ขาย<br /></span>
                <span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ( <span id="spnCustomerSignature">........................................</span>  )                                                           ( <span id="spnSalerSignature">........................................</span> )<br /></span>

                <span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;บริษัท เอ็ม บิ้วดิ้ง จำกัด<br /></span>
                <span class="mt4">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;ลงชื่อ ........................................ พยาน                                     ลงชื่อ ........................................ พยาน<br /></span>
                <span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ( <span id="spnCustomerSignature">........................................</span>  )                                                           ( <span id="spnSalerSignature">........................................</span> )<br /></span>
            </div>

            <span>&emsp;อุปกรณ์เสริมอื่นๆ ที่อาจเกี่ยวข้องต่อการติดตั้งชิ้นงานเฟอร์นิเจอร์ เช่น ตะแกรงใส่ของใต้เคาน์เตอร์ครัว ซิ้งอ่างล้างจาน ก๊อกน้ำ เครื่องดูดควัน หรืออุปกรณ์อื่นๆ ผู้ซื้อเป็นผู้จัดหาและรับผิดชอบในการติดตั้งเอง หากต้องการใช้บริการผู้ขายในการติดตั้ง จะมีค่าใช้จ่าย ชุดละ 1,500 บาท (หนึ่งพันห้าร้อยบาทถ้วน) การติดตั้งแบรคเกอร์ไฟฟ้าแยกจุดสำหรับเตาไฟฟ้า หรือเครื่องดูดควัน มีค่าใช้จ่ายเพิ่ม ชุดละ 3,000 บาท (สามพันบาท) ชำระแยกต่างหากจากยอดตามสัญญานี้</span>
            <span>&emsp;ระบบไฟฟ้าเฟอร์นิเจอร์ เฉพาะรวมเฉพาะไฟในตู้ตามการออกแบบเท่านั้น และจุดที่มีปลั๊กเดิมจะทำการย้ายจุดให้โดยไม่มีค่าใช้จ่าย หากต้องการเพิ่มจุดปลั๊กจากจุดที่มีเดิม มีค่าบริการจุดละ 500 บาท  ในกรณีที่การออกแบบ 3D มีไฟซ่อน แต่หน้างานจริงไม่มีจุดไฟ หรือต้องการเพิ่มปลั้ก ในบริเวณที่ไม่มีจุดปลั๊กเดิม จะมีค่าใช้จ่ายเดินสายไฟเพิ่มเติมมาลงจุดนั้นๆ จุดละ 3,000 บาท  การติดตั้งโคมไฟ ไฟห้อยระย้า หรือการติดตั้งอุปกรณ์เสริมต่างๆ มีค่าบริการเริ่มต้น จุดละ 2,000 บาท  ทางบริษัทจะเสนอราคาให้ผู้ว่าจ้างทราบก่อนดำเนินการทุกครั้ง</span>
            <span>
                &emsp;
                ระบบสัญญาณ ผู้ซื้อจะต้องหาช่างชำนาญเรื่องสัญญาณ จัดเตรียมเพิ่มความยาวของสายสัญญาณไว้ ประมาณ 1 เมตร เนื่องจากช่างติดตั้งเฟอร์นิเจอร์ไม่มีอุปกรณ์ในการทำสายสัญญาณ หากผู้ซื้อมิได้ใช้งานสัญญาณดังกล่าว สามารถแจ้งเพื่อปิดจุดนั้นๆได้
                สัญญานี้ไม่รวมถึงการวางเงินค้ำประกันเพื่อเข้าติดตั้งงานเฟอร์นิเจอร์ที่ต้องค้ำประกันกับทางนิติ-บุคคล ชิ้นงานเฟอร์นิเจอร์ทุกชิ้น เป็นกรรมสิทธิ์ของผู้ขาย จนกว่าผู้ซื้อจะชำระเงินงวดสุดท้ายครบเต็มจำนวนค่าสินค้าที่ตกลงไว้ในสัญญานี้
            </span>

            <span style="font-weight:bold;">&emsp;ข้อ 2.  ค่าสินค้า และบริการ</span>
            <span>&emsp;ราคาเฟอร์นิเจอร์ที่ตกลงซื้อขาย รวมเป็นเงิน <span id="spnGrandTotal"></span> และฟรีค่าบริการติดตั้ง ซึ่งผู้ซื้อจะแบ่งชำระให้ผู้ขายเป็นงวดๆ ดังนี้</span>
            <span>&emsp;<span style="font-weight:bold;">งวดที่ 1</span> เมื่อตกลงนัดผู้ขายสำรวจพื้นที่ติดตั้งชิ้นงานเฟอร์นิเจอร์ ชำระ <span id="spnFirstPeriodTotal"></span> เงินจำนวนนี้เป็นส่วนหนึ่งของมูลค่าสินค้า</span>
            <span>&emsp;<span style="font-weight:bold;">งวดที่ 2</span> เมื่อตกลงซื้อชิ้นงานเฟอร์นิเจอร์ 50% เป็นเงิน <span id="spnSecondPeriodTotal"></span></span>
            <span>&emsp;<span style="font-weight:bold;">งวดที่ 3</span> เมื่อชิ้นงานเฟอร์นิเจอร์นำส่งถึงสถานที่ติดตั้ง 40% เป็นเงิน <span id="spnThirdPeriodTotal"></span></span>
            <span>&emsp;<span style="font-weight:bold;">งวดที่ 4</span> เมื่อผู้ขายและทีมงานบริการติดตั้งแล้วเสร็จ พร้อมส่งงาน ชำระยอดคงค้างที่เหลือ 10%   หักลบ <span id="spnDisposite"></span> แรกออก คงเหลือทั้งสิ้น <span id="spnForthPeriodTotal"></span></span>
            <span>&emsp;การชำระเงิน ผู้ซื้อ จะชำระเงินให้แก่ผู้ขายเป็นเงินสด หรือ โอนเงินเข้าบัญชีเงินฝากธนาคารของผู้ขาย <span id="spnBankAccount"></span></span>

            <div class="mt-4">
                <span class="mt4">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;ลงชื่อ ........................................ ผู้ซื้อ                                     ลงชื่อ ........................................ ผู้ขาย<br /></span>
                <span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ( <span id="spnCustomerSignature">........................................</span>  )                                                           ( <span id="spnSalerSignature">........................................</span> )<br /></span>

                <span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;บริษัท เอ็ม บิ้วดิ้ง จำกัด<br /></span>
                <span class="mt4">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;ลงชื่อ ........................................ พยาน                                     ลงชื่อ ........................................ พยาน<br /></span>
                <span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ( <span id="spnCustomerSignature">........................................</span>  )                                                           ( <span id="spnSalerSignature">........................................</span> )<br /></span>
            </div>

            <span style="font-weight:bold;">&emsp;ข้อ 3.  กำหนดเวลาส่งนำส่งสินค้า</span>
            <span>&emsp;ผู้ขายจะทำการนำส่งสินค้า ถึงสถานที่ติดตั้ง ประมาณวันที่ <span id="spnPredictDeliveryDate"></span> และเมื่อผู้ขายได้รับชำระเงินงวด 3 แล้ว จะทำการบริการติดตั้งชิ้นงานเฟอร์นิเจอร์ให้แล้วเสร็จพร้อมส่งมอบ ประมาณวันที่ <span id="spnDeliveryDate"></span> รวมกำหนดระยะเวลาตั้งแต่ซื้อขายตลอดจนส่งมอบชิ้นงาน (ไม่รวมวันอาทิตย์และวันหยุดนักขัตฤกษ์)</span>
            <span style="font-weight:bold;">&emsp;หากผู้ขายดำเนินการนำส่งสินค้าไปยังสถานที่ติดตั้ง ล่าช้า ผู้ขายยินดีชำระค่าปรับ เป็นเงิน วันละ 300 บาท (สามร้อยบาทถ้วน)</span>

            <span style="font-weight:bold;">&emsp;ข้อ 4.  ความรับผิดชอบของผู้ขาย และการรับประกัน</span>
            <span>&emsp; ผู้ขายจะขายชิ้นงานเฟอร์นิเจอร์ที่มีรายละเอียด และคุณภาพวัสดุถูกต้องตามสัญญาให้แก่ผู้ซื้อ และบริการติดตั้งชิ้นงานเฟอร์นิเจอร์ให้แก่ผู้ซื้อ โดยจะรับผิดชอบต่ออุปัทวเหตุ ภยันตราย หรือความเสียหายใดๆ ที่เกิดขึ้นระหว่างบริการติดตั้งชิ้นงานเฟอร์นิเจอร์ และจะรับผิดชอบในเหตุที่เสียหายอันเกิดแก่สถานที่ติดตั้งของผู้ซื้อภายในบริเวณที่ทำการบริการติดตั้ง โดยเป็นความเสียหายจากการกระทำของพนักงานภายในความดูแลของผู้ขาย ซึ่งมีรายละเอียด ดังนี้</span>
            <span>&emsp; งานผนัง งานฝ้า บิ่น เป็นรอย ผู้ขายจะโป้วแดป และทาสีผนัง ให้ใกล้เคียงผนังเดิมมากที่สุด เนื่องจากเฉดสีที่ผสมแต่ละร้านอาจมีค่าความเพี้ยนถึงแม้เป็นโค้ดสีเดียวกัน ดังนั้น ผู้ซื้อจึงต้องเป็นผู้จัดเตรียมสีที่ใช้ในการเก็บงานให้แก่ผู้ขาย โดยจัดซื้อหรือขอแบ่งจากโครงการเตรียมไว้สำหรับการเก็บงานฝ้าและผนัง จำนวนไม่เกิน 3.75 ลิตร</span>
            <span>&emsp; งานวอลเปเปอร์ ควรติดตั้งภายหลังงานติดตั้งเฟอร์นิเจอร์ เพราะงานวอลเปเปอร์มีความเสี่ยงสูงที่จะเกิดร่องรอยฉีดขาดระหว่างการขนส่งและติดตั้งได้ ดังนั้น หน้างานที่ผู้ขายรับมอบบ้านที่ติดวอลเปเปอร์มาก่อนแล้ว ผู้ซื้อจะต้องจัดเตรียมวอลเปเปอร์ลายนั้นๆไว้ให้ทางบริษัทสำหรับเก็บงาน 2-3 ม้วน ซึ่งการเก็บงานจะเก็บเป็นจุดๆ ตามความเหมาะสมเท่านั้น มิได้ครอบคลุมถึงการเปลี่ยนแผ่นทั้งผืนของงานวอลเปเปอร์</span>
            <span>&emsp; งานพื้นบันไดไม้ งานพื้นไม้ หากมีความจำเป็นต้องเก็บงาน ผู้ขายจะเก็บแต่งเทียบสีเป็นจุด ตามความเหมาะสมเท่านั้น มิได้ครอบคลุมถึงการเปลี่ยนชิ้นไม้ ทั้งนี้ ผู้ซื้อมีความเข้าใจถึงขั้นตอนการขนส่ง และติดตั้งเฟอร์นิเจอร์ ว่าอาจจะมีความเสียหายที่ทำให้เกิดรอย ขีดข่วน บุบ บิ่น ของพื้นที่ หรือม้บันไดได้ ซึ่งการเก็บงานและการติดตั้งเฟอร์นิเจอร์เป็นงานหัตถการ อาจจะมีบางจุดที่ไม่สามารถดำเนินการเก็บงานให้สมบูรณ์ได้ ทั้งนี้ ผู้ขายจะพยายามเก็บงานให้ได้มาตรฐานและไม่มีผลต่อการอยู่อาศัยของผู้ซื้อให้มากที่สุด</span>
            <div class="mt-4">
                <span class="mt4">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;ลงชื่อ ........................................ ผู้ซื้อ                                     ลงชื่อ ........................................ ผู้ขาย<br /></span>
                <span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ( <span id="spnCustomerSignature">........................................</span>  )                                                           ( <span id="spnSalerSignature">........................................</span> )<br /></span>

                <span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;บริษัท เอ็ม บิ้วดิ้ง จำกัด<br /></span>
                <span class="mt4">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;ลงชื่อ ........................................ พยาน                                     ลงชื่อ ........................................ พยาน<br /></span>
                <span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ( <span id="spnCustomerSignature">........................................</span>  )                                                           ( <span id="spnSalerSignature">........................................</span> )<br /></span>
            </div>

            <span>&emsp;ผู้ขายจะทำความสะอาดเบื้องต้น โดยการกวาด เช็ด เก็บขยะ สถานที่ติดตั้งให้อยู่ในสภาพเรียบร้อย โดยทีมงานติดตั้ง มิได้รวมถึงการว่าจ้างบริษัทฯทำความสะอาด หากต้องการบริการบริษัทฯทำความสะอาด จะมีค่าใช้จ่ายเพิ่มตามจำนวนตารางเมตรของพื้นที่ และหากพบอุปกรณ์ประกอบชิ้นงานเฟอร์นิเจอร์ เช่น บานพับ รางลิ้นชัก ฯลฯ ชิ้นใดอยู่ในสภาพไม่สมบูรณ์ ทางผู้ขายจะทำการเปลี่ยนชิ้นใหม่ให้แก่ผู้ซื้อทันที และจะรับประกันชิ้นงานเฟอร์นิเจอร์ เป็นเวลา 180 วัน นับตั้งแต่วันที่ผู้ขายได้รับชำระเงินงวดสุดท้ายเรียบร้อย ทั้งนี้การรับประกัน ไม่รวมถึงความเสียหายที่เกิดจากการใช้งานทั่วไป ร่องรอยขีดข่วน ใช้งานไม่เหมาะสมหรือผิดประเภท และความเสียหายที่อาจเกิดจากภัยธรรมชาติ</span>

            <span style="font-weight:bold;">&emsp;ข้อ 5.  ความรับผิดชอบของผู้ซื้อ</span>
            <span>&emsp;ผู้ซื้อจะทำการประสานงานติดต่อและวางเงินค้ำประกันแก่นิติบุคคลเอง กรณีสถานที่ติดตั้งอยู่ในความดูแลของนิติบุคล หากมีการเรียกเก็บค่าสินค้า ผู้ซื้อชำระเงินทันที หลังจากได้รับใบแจ้งหนี้ที่ผู้ขายยื่นต่อผู้ซื้อ โดยผู้ขายจะทำการแจ้งล่วงหน้าก่อนเรียกเก็บค่าสินค้าประมาณ 3-7 วัน หากผู้ซื้อทำการชำระเงินค่าสินค้าล่าช้า ผู้ขายมีสิทธิ์ขยายระยะเวลาในการติดตั้งออกไป ตามจำนวนวันที่ผู้ซื้อชำระล่าช้า</span>
            <span>&emsp;ในกรณีที่ผู้ซื้อผิดนัด ไม่ชำระราคาสินค้าให้แก่ผู้ขายภายในเวลาที่กำหนด ผู้ขายสามารถนำสินค้าที่ยังคงเป็นกรรมสิทธิ์ของผู้ขายออกจากพื้นที่ได้ ตามมูลค่าที่ผู้ซื้อค้างชำระ พร้อมทั้งผู้ขายมีสิทธิ์ปฏิเสธเงื่อนไขการรับประกันและบริการหลังการขายได้อีกด้วย</span>

            <span style="font-weight:bold;">&emsp;ข้อ 6.  แบบรูปและรายละเอียด</span>
            <span>&emsp;เนื่องจากภาพเสมือนจริง 3D จัดทำขึ้นเพื่อเป็นแนวทางในการผลิตงานเฟอร์นิเจอร์เท่านั้น ซึ่งในบางส่วนของรายละเอียด อาจมีข้อจำกัดต่อการผลิตชิ้นงานจริง ดังนั้น การอนุมัติชิ้นงาน จะยึดถือการอนุมัติแบบจากโปรแกรมสั่งตัดชิ้นงานเท่านั้น เมื่ออนุมัติในขั้นตอนดังกล่าวแล้ว จะไม่สามารถปรับเปลี่ยนรูปแบบได้ หากผลิตชิ้นงานที่อนุมัติแล้ว แต่ผู้ซื้อต้องการปรับเปลี่ยนแบบ จะมีค่าใช้จ่ายในการแก้ไขชิ้นงานใหม่ ทั้งค่าวัสดุและค่าแรงงาน ซึ่งผู้ขายจะนำเสนอราคาก่อนทุกครั้ง</span>
            <span>&emsp;ชิ้นงานเฟอร์นิเจอร์ และงานส่วนควบ ได้แก่ หิน กระจก จะตัดจากโรงงานมาตรฐาน ซึ่งจะได้ฉากพอดี หากพื้นที่หน้างานผนังล้มดิ่ง หรือฝ้าตก การติดตั้งอาจเกิดช่องว่างเป็นแนวสามเหลี่ยมได้ ทั้งนี้ผู้ขายจะช่วยเติมเต็มช่องว่างด้วยวัสดุอุดซีลให้เรียบร้อย ซึ่งผู้ซื้อเข้าใจถึงปัญหาที่เกิดขึ้นได้เป็นอย่างดี</span>
            <span>&emsp;หากชิ้นงานเฟอร์นิเจอร์ที่ตกลงซื้อขายนั้นมีรูปแบบที่มีความเสี่ยงเรื่องความแข็งแรงของโครงสร้างชิ้นงานเฟอร์นิเจอร์ ผู้ขายมีสิทธิ์ปรับรูปแบบชิ้นงานเฟอร์นิเจอร์ตามความเหมาะสมโดยจะรักษาสไตล์และภาพรวมของชิ้นงานให้คล้ายเดิมมากที่สุด และผู้ขายจะทำการบอกกล่าวต่อผู้ซื้อให้รับทราบก่อน</span>
            <div class="mt-4">
                <span class="mt4">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;ลงชื่อ ........................................ ผู้ซื้อ                                     ลงชื่อ ........................................ ผู้ขาย<br /></span>
                <span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ( <span id="spnCustomerSignature">........................................</span>  )                                                           ( <span id="spnSalerSignature">........................................</span> )<br /></span>

                <span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;บริษัท เอ็ม บิ้วดิ้ง จำกัด<br /></span>
                <span class="mt4">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;ลงชื่อ ........................................ พยาน                                     ลงชื่อ ........................................ พยาน<br /></span>
                <span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; ( <span id="spnCustomerSignature">........................................</span>  )                                                           ( <span id="spnSalerSignature">........................................</span> )<br /></span>
            </div>
        </div>

        <footer>
            <div class="row col-sm-12 mt-2">
               
            </div>
        </footer>

    </div>

</div>