@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

<style>
    
</style>

<div id="contractElement">
    <div class="row">
         <header>
            <div class="row col-sm-12">
                <span class="justify-content-center">สัญญาซื้อขายเฟอร์นิเจอร์พร้อมติดตั้ง</span>

            </div>
        </header>

        <footer>
            <div class="row col-sm-12 mt-2">
                <div class="row d-sm-flex">
                    <div class="col-sm-6">
                        <span>การชำระเงิน<br /></span>
                        <span id="spnAccName"><br /></span>
                        <span id="spnAccBank"><br /></span>
                    </div>
                    <div class="col-sm-6"></div>
                </div>
            </div>
        </footer>

    </div>

</div>