<script src="~/lib/html2pdf/html2pdf.bundle.min.js"></script>

<style>
    #tb-payslip tr th {
        background-color: lightgray;
        color: #000;
        font-size: 14px;
    }

    .watermark {
        background: url("https://www.google.co.in/images/srpr/logo11w.png") center center no-repeat;
        opacity: 0.6;
        opacity: 0.6;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .report-table {
        margin: 0 auto;
        width: 697px;
        align-self: center;
    }

    .table-header {
        font-weight: 600;
        height: 30px;
    }
</style>

<div id="reportPaySlipElement">
    <div class="row">
        <header>
            <div class="row col-sm-12">
                <div class="col-sm-9" style="font-size:14px;">
                    <span>บริษัท เอ็ม บิ้วดิ้ง จำกัด (สำนักงานใหญ่)<br /></span>
                    <span>102/9 ซอยหลังวัดต้นสน ตำบลบางปลาสร้อย<br /></span>
                    <span>อำเภอเมืองชลบุรี จังหวัดชลบุรี 20000<br /></span>
                    <span>เลขประจำตัวผู้เสียภาษี 0205558020588<br /></span>
                    <span>โทร.089-6057840  Email : Mbuilding@hotmail.com</span>
                </div>

                <div class="col-sm-3 text-center" style="font-size:14px;border:solid 1px;">
                    <span>สลิปเงินเดือน</span><br /><br />
                    <span id="spnGenDate"></span>
                </div>
            </div>
        </header>

        <div class="row d-sm-flex mt-2" style="font-size:14px;">
            <div class="col-sm-6">
                <div class="row col-sm-12">
                    <label class="col-sm-4 col-form-label">รหัสพนักงาน</label>
                    <label class="col-sm-8 col-form-label" id="lblEmpCode"></label>
                </div>

                <div class="row col-sm-12">
                    <label class="col-sm-4 col-form-label">ชื่อ-นามสกุล</label>
                    <label class="col-sm-8 col-form-label" id="lblEmpName"></label>
                </div>

            </div>

            <div class="col-sm-6">
                <div class="row col-sm-12">
                    <label class="col-sm-4 col-form-label">แผนก/ฝ่าย</label>
                    <label class="col-sm-8 col-form-label" id="lblEmpDepartment"></label>
                </div>

                <div class="row col-sm-12">

                </div>

            </div>
        </div>

        <div class="row d-sm-flex mt-2" style="font-size:14px;">
            <div class="col-sm-6" style="border:solid 1px;">
                <div class="row col-sm-12">
                    <label class="col-sm-4 col-form-label">รายการได้</label>
                </div>
            </div>

            <div class="col-sm-6" style="border:solid 1px;">
                <div class="row col-sm-12">
                    <label class="col-sm-4 col-form-label">รายการหัก</label>
                </div>

            </div>
        </div>

        <div class="row d-sm-flex mt-2" style="font-size:14px;">

            <div class="col-sm-6" style="border:solid 1px;">
                <div class="row col-sm-12">
                    <label class="col-sm-8 col-form-label">1. เงินเดือน</label>
                    <label class="col-sm-8 col-form-label text-end">1. เงินเดือน</label>
                </div>
                <div class="row col-sm-12">
                    <label class="col-sm-4 col-form-label">1. เงินเดือน</label>
                </div>
            </div>

            <div class="col-sm-6" style="border:solid 1px;">
                <div class="row col-sm-12">
                    <label class="col-sm-8 col-form-label">1. ประกันสังคม 5%</label>
                    <label class="col-sm-4 col-form-label text-end" id="lblEmpDepartment"></label>
                </div>

            </div>
        </div>

        <footer>
            <div class="row col-sm-12 mt-2">
                
            </div>
        </footer>


    </div>

</div>