<link href="~/lib/file-input/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/lib/file-input/font/bootstrap-icons.min.css" rel="stylesheet" crossorigin="anonymous" />

<script src="~/lib/file-input/plugins/buffer.min.js" type="text/javascript"></script>
@*<script src="~/lib/file-input/plugins/piexif.min.js" type="text/javascript"></script>*@

<script src="~/lib/file-input/umd/popper.min.js"></script>
<script src="~/lib/file-input/js/fileinput.min.js"></script>

<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/plugins/piexif.min.js" type="text/javascript"></script>

<div class="container-fluid" id="divUploadRef">

    <div class="card mt-4">
        <div class="card-header">
            <div class="row col-sm-12">
                <div class="col-sm-6 mt-2"><h5>อัพโหลดรูปแปลนและรูป ref</h5></div>
                <div class="col-sm-6 text-end">
                    <button type="button" class="btn btn-primary btn-save-cus-upload-ref"><i class="fas fa-save" aria-hidden="true"></i> บันทึกและส่งข้อมูล</button>
                </div>
            </div>
        </div>

        <div class="card-body">
            <form id="form-uploadRef">
                <input type="hidden" id="custOrderId" />
                <div class="row">
                    <div class="row col-sm-12 mb-2">
                        <label class="col-sm-2 col-form-label text-end">เลขที่ใบเสนอราคา</label>
                        <div class="row col-sm-3">
                            <input class="form-control mb-2" type="text" id="input-quotation-number" name="input-quotation-number" disabled />
                        </div>
                    </div>

                    <div class="row col-sm-12 mb-2">
                        <label for="formFile" class="col-sm-2 col-form-label text-end">อัพโหลดรูปแปลน</label>
                        <div class="row col-sm-5">
                            @*<input type="file" id="select-upload-plan" name="select-upload-plan" placeholder="" />*@
                            <input id="select-upload-plan" name="select-upload-plan[]" type="file" class="file" accept="image/*" multiple>
                        </div>
                    </div>

                    <div class="row col-sm-12 mb-2">
                        <label for="formFile" class="col-sm-2 col-form-label text-end">อัพโหลดรูป Reference</label>
                        <div class="row col-sm-5">
                            @*<input class="form-control" type="file" id="select-upload-reference" name="select-upload-reference" placeholder="" />*@
                            <input id="select-upload-reference" name="select-upload-reference[]" type="file" class="file" accept="image/*" multiple>

                        </div>
                    </div>

                    <div class="row col-sm-12 mb-2">
                        <label for="formFile" class="col-sm-2 col-form-label text-end">อัพโหลดรูปสลิปมัดจำ</label>
                        <div class="row col-sm-5">
                            @*<input class="form-control" type="file" id="select-upload-disposite" name="select-upload-disposite" placeholder="" />*@
                            <input id="select-upload-disposite" name="select-upload-disposite[]" type="file" class="file" accept="image/*">

                        </div>
                    </div>

                    <div class="row col-sm-12 mb-2">
                        <label for="formFile" class="col-sm-2 col-form-label text-end">อัพโหลดรูปบัตรประชาชน</label>
                        <div class="row col-sm-5">
                            @*<input class="form-control" type="file" id="select-upload-idcard" name="select-upload-idcard" placeholder="" />*@
                            <input id="select-upload-idcard" name="select-upload-idcard[]" type="file" class="file" accept="image/*">

                        </div>
                    </div>

                </div>

            </form>

            
        </div>

    </div>

</div>

<style>
    .file-preview-frame {
        width: 150px;
        height: 200px;
    }

    .krajee-default.file-preview-frame .kv-file-content {
        width: 130px;
        height: 150px;
    }

    .krajee-default .file-footer-caption {
        display: none;
    }

    .kv-file-upload, .fileinput-cancel-button, .fileinput-upload-button, .fileinput-remove-button, .fileinput-remove,
    .btn-toggleheader, .btn-fullscreen, .btn-borderless {
        display: none;
    }
</style>
<script>
    $('#select-upload-plan').fileinput({
        uploadUrl: "Home/UploadFiles", // this is your home controller method url
        //maxFileCount: 1,
        showBrowse: true,
        browseOnZoneClick: true,
        browseLabel: 'เลือกไฟล์'
    });

    $('#select-upload-reference').fileinput({
        uploadUrl: "Home/UploadFiles", // this is your home controller method url
        //maxFileCount: 1,
        showBrowse: true,
        browseOnZoneClick: true,
        browseLabel: 'เลือกไฟล์'
    });

    $('#select-upload-disposite').fileinput({
        uploadUrl: "Home/UploadFiles", // this is your home controller method url
        //maxFileCount: 1,
        showBrowse: true,
        browseOnZoneClick: true,
        browseLabel: 'เลือกไฟล์'
    });

    $('#select-upload-idcard').fileinput({
        uploadUrl: "Home/UploadFiles", // this is your home controller method url
        //maxFileCount: 1,
        showBrowse: true,
        browseOnZoneClick: true,
        browseLabel: 'เลือกไฟล์'
    });

</script>