<div class="container-fluid">
    <div class="card mt-4">
        <div class="card-body">
        <div class="row mt-2">
            <form id="form-search-commission">
                <div class="row col-sm-12">
                    <div class="col-sm-2">
                        <label>เลขที่สัญญา</label>
                        <input type="text" class="form-control" id="input-search-commission-number" name="input-search-commission-number" />
                    </div>
                    <div class="col-sm-2">
                        <label>เลขที่ใบเสนอราคา</label>
                        <input type="text" class="form-control" id="input-search-commission-quotation-no" name="input-search-commission-quotation-no" />
                    </div>
                    <div class="col-sm-2">
                        <label>ชื่อลูกค้า</label>
                        <input type="text" class="form-control" id="input-search-commission-cusName" name="input-search-commission-cusName" />
                    </div>
                    <div class="col-sm-2">
                        <label>สถานะเอกสารสัญญา</label>
                        <select class="form-select" id="select-search-commission-quotation-status">
                            <option></option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <label>วันที่ออกสัญญา</label>
                        <input type="date" class="form-control" id="input-search-commission-doc-date" name="input-search-commission-doc-date" />
                    </div>
                    <div class="col-sm-2 mt-4 text-end">
                            <button type="button" class="btn btn-default-custom btn-clear-search-quotation">ล้างข้อมูล</button>
                        <button type="button" class="btn btn-primary btn-search-quotation">ค้นหา</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row col-sm-12 mt-2">
            <table class="table no-footer" id="tb-commission-list" width="100%">
                <thead>
                    <tr>
                        <th><span>เดือน/ปี</span></th>
                        <th><span>ยอดขายทั้งเดือน</span></th>
                        <th><span>ค่าคอมมิชชั่น</span></th>
                        <th><span>โบนัส</span></th>
                        <th><span>สถานะ</span></th>
                        <th><span>ชื่อเซลล์</span></th>
                        <th><span>ดูรายละเอียด</span></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    </div>
</div>

@*modal for view commission*@
<div id="modal-viewCommission" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">ข้อมูลค่าคอมมิชชั่น</h4>
            </div>
            <div class="modal-body">
                <form id="form-viewCommission">
                    <div class="row d-sm-flex">
                        <div class="row d-sm-flex">
                            <div class="col-sm-6">
                                <div class="row">

                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">เดือน/ปี</label>
                                        <input class="form-control" type="text" id="input-commission-dateYear" name="input-commission-dateYear" disabled />
                                    </div>
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">ค่าคอมมิชชั่น</label>
                                        <input class="form-control" type="text" id="input-commission" name="input-commission" disabled />
                                    </div>

                                </div>

                            </div>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">ยอดขายทั้งเดือน</label>
                                        <input class="form-control" type="text" id="input-commission-salesMonth" name="input-commission-salesMonth" disabled />
                                    </div>
                                    <div class="col-sm-12 mb-2">
                                        <label class="control-label">โบนัส</label>
                                        <input class="form-control" type="text" id="input-commission-bonus" name="input-commission-bonus" disabled />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>

                <div class="row col-sm-12 mt-2">
                        <table class="table no-footer" id="tb-commission-detail-list" width="100%">
                            <thead>
                                <tr>
                                    <th><span>เลขที่ใบเสนอราคา</span></th>
                                    <th><span>ยอดขายต่อใบเสนอราคา</span></th>
                                    <th><span>สถานะการเก็บเงิน</span></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ปิดหน้าจอ</button>
            </div>
        </div>
    </div>

</div>