<style>
    .note-approve-show {
        visibility:hidden;
    }
</style>
<div class="container-fluid" id="divCalculatePrice">

    <div class="card mt-4">
        <div class="card-header">
            <div class="row col-sm-12">
                <div class="col-sm-6 mt-2"><h5>การคำนวณราคา</h5></div>
                <div class="col-sm-6 text-end">
                    <button type="button" class="btn btn-default-custom btn-previous-cus-cal-price"><i class="fas fa-arrow-alt-circle-left" aria-hidden="true"></i> ย้อนกลับ</button>
                    <button type="button" class="btn btn-primary btn-save-and-create-quotation"><i class="fas fa-save" aria-hidden="true"></i> บันทึกและออกใบเสนอราคา</button>
                </div>
            </div>
        </div>

        <div class="card-body">
            <form id="form-createCalculatePrice">
                <div class="row">
                    <div class="row col-sm-12 mb-2 text-end note-approve-show" id="divEditQuotation">
                        <input type="hidden" id="custOrderId" />
                        <div class="col-sm-12 text-end">
                            @*<button type="button" class="btn btn-default-custom btn-print-quotation" onclick="printQuotation()"><i class="fa fa-print" aria-hidden="true"></i> พิมพ์ใบเสนอราคา</button>*@
                            <a class="btn btn-default-custom btn-print-quotation" href="../Document/GetQuotaionByOrderId?orderId=_order_id" target="_blank"><i class="fa fa-print" aria-hidden="true"></i> พิมพ์ใบเสนอราคา</a>
                        </div>
                    </div>

                    <div class="row col-sm-12 mb-2">
                        <label class="col-sm-2 col-form-label text-end">ราคาทั้งหมด</label>
                        <div class="row col-sm-10" id="divCalItemOptions">
                        </div>
                    </div>

                    <div class="row col-sm-12 mb-2">
                        <label class="col-sm-2 col-form-label text-end">โน๊ตเพิ่มเติม</label>
                        <div class="row col-sm-10">
                            <div class="row">
                                <div class="col-sm-8">
                                    <input class="form-control mb-2" type="text" id="input-cal-note" name="input-cal-note" />
                                </div>
                                <div class="col-sm-2">
                                    <input class="form-control mb-2" type="number" id="input-cal-note-price" name="input-cal-note-price" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row col-sm-12 mb-2">
                        <label class="col-sm-3 col-form-label text-end">ราคารวม (Sub. Total) <span class="text-danger">*</span></label>
                        <div class="row col-sm-9">
                            <div class="row">
                                <div class="col-sm-4">
                                    <input class="form-control mb-2" type="number" id="input-cal-subTotal" name="input-cal-subTotal" disabled />
                                </div>
                                <label class="col-sm-2 col-form-label">บาท</label>
                            </div>
                        </div>
                    </div>

                    <div class="row col-sm-12 mb-2">
                        <label class="col-sm-3 col-form-label text-end">ส่วนลดท้ายบิล</label>
                        <div class="row col-sm-9">
                            <div class="row">
                                <div class="col-sm-4">
                                    <input class="form-control mb-2" type="number" id="input-cal-discount" name="input-cal-discount" />
                                </div>
                                <label class="col-sm-2 col-form-label">บาท</label>
                            </div>
                        </div>
                    </div>

                    <div class="row col-sm-12 mb-2">
                        <div class="col-sm-3 text-end">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radioVatType" id="radioVat" onchange="calculateVat('vat');" value="vat">
                                <label class="form-check-label">VAT 7%</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radioVatType" id="radioNonVat" onchange="calculateVat('nonvat');" value="nonvat" checked>
                                <label class="form-check-label">Non VAT</label>
                            </div>
                        </div>
                        <div class="row col-sm-9">
                            <div class="row">
                                <div class="col-sm-4">
                                    <input class="form-control mb-2" type="number" id="input-cal-vat" name="input-cal-vat" disabled />
                                </div>
                                <label class="col-sm-2 col-form-label">บาท</label>
                            </div>
                        </div>
                    </div>

                    <div class="row col-sm-12 mb-2">
                        <label class="col-sm-3 col-form-label text-end">ราคารวมทั้งหมด (Grand Total) <span class="text-danger">*</span></label>
                        <div class="row col-sm-9">
                            <div class="row">
                                <div class="col-sm-4">
                                    <input class="form-control mb-2" type="number" id="input-cal-grandTotal" name="input-cal-grandTotal" disabled />
                                </div>
                                <label class="col-sm-2 col-form-label">บาท</label>
                            </div>
                        </div>
                    </div>

                    <div class="row col-sm-12 mb-2">
                        <div class="col-sm-3 text-end">
                            <button type="button" class="btn btn-default-custom btn-cal-deposit-amount"><img src="~/images/calculator.png" width="25px" /> กดคำนวณยอดมัดจำ</button>
                        </div>
                        <div class="row col-sm-9">
                            <div class="row">
                                <div class="col-sm-4">
                                    <input class="form-control mb-2" type="number" id="input-cal-disposite" name="input-cal-disposite" disabled/>
                                </div>
                                <label class="col-sm-2 col-form-label">บาท</label>
                            </div>
                        </div>
                    </div>

                    <div class="row col-sm-12 mb-2">
                        <label class="col-sm-3 col-form-label text-end">บัญชีรับเงิน</label>
                        <div class="col-sm-9 mt-1">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radioBankAccount" id="radioBankPersonal" onchange="displayBankAccount('personal');" value="personal" checked>
                                <label class="form-check-label">บัญชีส่วนบุคคล</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="radioBankAccount" id="radioBankCompany" onchange="displayBankAccount('company');" value="company">
                                <label class="form-check-label">บัญชีบริษัท</label>
                            </div>
                        </div>
                    </div>

                    <div class="row col-sm-12 mb-2">
                        <label class="col-sm-3 col-form-label text-end"></label>
                        <div class="col-sm-9" id="displayAccountDetail">
                        </div>
                    </div>

                    <div class="row col-sm-12 mb-2 note-approve-show" id="divEditQuotation">
                        <label class="col-sm-3 col-form-label text-end">เหตุผลที่ลูกค้าไม่อนุมัติงาน</label>
                        <div class="row col-sm-9">
                            <div class="row">
                                <div class="col-sm-10">
                                    <input class="form-control mb-2" type="text" id="input-cal-approve" name="input-cal-approve" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
            
    </div>

</div>
</div>
