<div class="container-fluid">

    <div class="card mt-4">
        <div class="card-header">
            <div class="row col-sm-12">
                <div class="col-sm-6 mt-2"><h5>การคำนวณราคา</h5></div>
                <div class="col-sm-6 text-end">
                    <button type="button" class="btn btn-default btn-previous-cus-cal-price"><i class="fas fa-arrow-alt-circle-left" aria-hidden="true"></i> ย้อนกลับ</button>
                    <button type="button" class="btn btn-primary btn-next-cus-quotation"><i class="fas fa-save" aria-hidden="true"></i> บันทึกและออกใบเสนอราคา</button>
                </div>
            </div>
        </div>

        <div class="card-body">

        </div>

    </div>

</div>