<div class="container-fluid" id="createStyle">

    <div class="card mt-4">
        <div class="card-header">
            <div class="row col-sm-12">
                <div class="col-sm-6 mt-2"><h5>รายละเอียดสไตล์และชิ้นงาน</h5></div>
                <div class="col-sm-6 text-end">
                    <button type="button" class="btn btn-default-custom btn-previous-cus-new-data"><i class="fas fa-arrow-alt-circle-left" aria-hidden="true"></i> ย้อนกลับ</button>
                    <button type="button" class="btn btn-primary btn-next-cus-cal-price"><i class="fas fa-arrow-alt-circle-right" aria-hidden="true"></i> ถัดไป</button>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6 text-end mt-2 mb-2">
                    <button type="button" class="btn-add-custom btn-add-style"><img src="~/images/add.png" width="25px" /> เพิ่มชิ้นงาน</button>
                </div>
            </div>

            <div id="divCreateStyle">

            </div>
        </div>

    </div>

</div>