<div class="container-fluid">
    <div class="card mt-4">
        <div class="card-body">
        <div class="row mt-2">
            <form id="form-search-quotation">
                <div class="row col-sm-12 mb-2">
                    <div class="col-sm-2">
                        <label>เลขที่ใบเสนอราคา</label>
                        <input type="text" class="form-control" id="input-search-quotation-number" name="input-search-quotation-number" />
                    </div>
                    <div class="col-sm-2">
                        <label>ชื่อลูกค้า</label>
                        <input type="text" class="form-control" id="input-search-quotation-cusName" name="input-search-quotation-cusName" />
                    </div>
                    <div class="col-sm-2">
                        <label>สถานะ</label>
                        <select class="form-select" id="select-search-quotation-status">
                            <option></option>
                        </select>
                    </div>
                    <div class="col-sm-6 mt-4 text-end">
                        <button type="button" class="btn btn-light btn-clear-search-quotation">ล้างข้อมูล</button>
                        <button type="button" class="btn btn-primary btn-search-quotation">ค้นหา</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row col-sm-12 mt-2">
            <table class="table no-footer" id="tb-quotation-list" width="100%">
                <thead>
                    <tr>
                        <th><span>เลขที่ใบเสนอราคา</span></th>
                        <th><span>ชื่อลูกค้า</span></th>
                        <th><span>วันที่สร้าง</span></th>
                        <th><span>ผู้สร้าง</span></th>
                        <th><span>วันที่แก้ไขล่าสุด</span></th>
                        <th><span>ผู้แก้ไขล่าสุด</span></th>
                        <th><span>สถานะ</span></th>
                        <th><span>แก้ไข</span></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    </div>
</div>