<div class="container-fluid">

    <div class="card mt-4">
        <div class="card-header">
            <div class="row col-sm-12">
                <div class="col-sm-6 mt-2"><h5>รายละเอียดสไตล์และชิ้นงาน</h5></div>
                <div class="col-sm-6 text-end">
                    <button type="button" class="btn btn-default btn-previous-cus-new-data"><i class="fas fa-arrow-alt-circle-left" aria-hidden="true"></i> ย้อนกลับ</button>
                    <button type="button" class="btn btn-primary btn-next-cus-cal-price"><i class="fas fa-arrow-alt-circle-right" aria-hidden="true"></i> ถัดไป</button>
                </div>
            </div>
        </div>

        <div class="card-body">

            <div class="row d-sm-flex">

                <div class="col-sm-6">
                    <div class="row col-sm-12 mb-2">
                        <label class="col-sm-3 col-form-label text-end">เลือกสไตล์</label>
                        <div class="col-sm-9">
                            <select class="form-select" id="select-cus-product-style">
                                <option></option>
                            </select>
                        </div>
                    </div>

                    <div class="row col-sm-12 mb-2">
                        <label class="col-sm-3 col-form-label text-end">เลือกโซน</label>
                        <div class="col-sm-9">
                            <select class="form-select" id="select-cus-product-zone">
                                <option></option>
                            </select>
                        </div>
                    </div>

                    <div class="row col-sm-12 mb-2">
                        <label class="col-sm-3 col-form-label text-end">เลือก Items</label>
                        <div class="col-sm-9">
                            <select class="form-select" id="select-cus-product-items">
                                <option></option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6">
                    <div class="row col-sm-12 mb-2">
                        <label class="col-sm-3 col-form-label text-end">เลือกชั้น</label>
                        <div class="col-sm-9">
                            <select class="form-select" id="select-cus-product-floor">
                                <option></option>
                            </select>
                        </div>
                    </div>

                    <div class="row col-sm-12 mb-2">
                        <label class="col-sm-3 col-form-label text-end">เลือกหมวดหมู่</label>
                        <div class="col-sm-9">
                            <select class="form-select" id="select-cus-product-type">
                                <option></option>
                            </select>
                        </div>
                    </div>

                    <div class="row col-sm-12 mb-2">
                        <label class="col-sm-3 col-form-label text-end">เลือก Options</label>
                        <div class="col-sm-9">
                            <select class="form-select" id="select-cus-product-options">
                                <option></option>
                            </select>
                        </div>
                    </div>


                </div>

            </div>

            <div class="row">
                <div class="row col-sm-12 mb-2">
                        <label class="col-sm-3 col-form-label text-end">ขนาด</label>
                        <div class="col-sm-9">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4"></div>
                        </div>
                    </div>
            </div>
        </div>

    </div>

</div>