<style>
    .loader {
        z-index: 10000;
    }

    .style-details, .type-details, .item-details {
        cursor: pointer !important;
    }

    .hidecol {
        display: none;
    }

    #tb-product-list tbody tr, #tb-type-list tbody tr, #tb-style-list tbody tr, #tb-product-quickQT-list tbody tr, #tb-group-list tbody tr {
        cursor: pointer !important;
    }




    .no-display {
        display: none;
    }

    .btn-add-custom {
        color: #F09723;
        background-color: transparent /*#0d6efd*/;
        border-color: transparent /*#0d6efd*/;
        font-size: 16px;
    }
</style>
<div class="container-fluid">
    <div class="card mt-4">
        <div class="card-body">
            <div class="row mt-2">
                <form id="form-search-planks">
                    <div class="row col-sm-12">

                        <div class="col-sm-2">
                            <label>เลขใบเสนอราคา</label>
                            <input type="text" class="form-control" id="input-search-quotation-code" placeholder="">
                        </div>
                        @* <div class="col-sm-2">
                            <label>ชื่อแบรนด์สินค้า</label>
                            <input type="text" class="form-control" id="input-search-brand-name" placeholder="">
                        </div> *@
                        <div class="col-sm-2">
                            <label>สถานะ</label>
                            <select class="form-select" id="select-search-planks-status">
                                <option></option>
                            </select>
                        </div>

                        <div class="col-sm-2 mt-4 text-end">
                            <button type="button" class="btn btn-default-custom btn-clear-search-planks">ล้างข้อมูล</button>
                            <button type="button" class="btn btn-primary btn-search-planks">ค้นหา</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-sm-2 mt-2">
                <button type="button" class="btn-add-custom btn-add-planks"><img src="~/images/sale.png" width="25px" /> เพิ่มแบรนด์สินค้า</button>
            </div>

            <div class="row col-sm-12 mt-2">
                <table class="table no-footer" id="tb-planks-list" width="100%">
                    <thead>
                        <tr>
                            <th><span>id</span></th>
                            <th><span>เลขที่ใบเสนอราคา</span></th>
                            <th><span>รหัสสี</span></th>
                            <th><span>จำนวนความหนา 18 mm</span></th>
                            <th><span>จำนวนความหนา 9 mm</span></th>
                            <th><span>สถานะ</span></th>
                            <th><span>ผู้สร้าง</span></th>
                            <th id="edit-action"><span>แก้ไข</span></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*modal for create Brand*@
<div id="modal-createPlanks" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center"><span id="itemHeader"></span></h4>
            </div>
            <div class="modal-body">
                <form id="form-createPlanks">
                    <div class="row d-sm-flex">
                        @*<div class="col-sm-12">*@
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6 mb-2">
                                    <label class="control-label">เลขที่ใบเสนอราคา<span class="text-danger">*</span></label>
                                    <input type="hidden" id="input-viewstock-id" name="input-viewstock-id" />
                                    <select class="form-select" id="select-quotation-no" data-selected="" name="select-quotation-no"></select>
                                </div>
                                <div class="col-sm-6 mb-2">
                                    <label class="control-label">รหัสสี<span class="text-danger">*</span></label>
                                    <input id="input-color-code" name="input-color-code" class="form-select" />
                                </div>
                                <div class="col-sm-6 mb-2">
                                    <label class="control-label">จำนวนความหนา 18 mm</label>
                                    <input id="input-18mm-amount" name="input-18mm-amount" type="number" class="form-select" onkeypress="return isNumberKey(event)" />
                                </div>
                                <div class="col-sm-6 mb-2">
                                    <label class="control-label">จำนวนความหนา 9 mm</label>
                                    <input id="input-9mm-amount" name="input-9mm-amount" type="number" class="form-select" onkeypress="return isNumberKey(event)" />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-planks-status" data-selected="" name="select-planks-status"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary btn-modal-save-planks"><i class="fas fa-save" aria-hidden="true"></i> บันทึก</button>
                <button type="button" class="btn btn-default-custom" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

@*modal for view Brand*@
<div id="modal-viewPlanks" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title text-center">ดูข้อมูลหมวดหมู่หลัก</h4>
            </div>
            <div class="modal-body">
                <form id="form-createPlanks">
                    <div class="row d-sm-flex">
                        @*<div class="col-sm-12">*@
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6 mb-2">
                                    <label class="control-label">เลขที่ใบเสนอราคา<span class="text-danger">*</span></label>
                                    <input type="hidden" id="input-planks-id" name="input-planks-id" />
                                    <select class="form-select" id="select-quotation-no" data-selected="" name="select-quotation-no"></select>
                                </div>
                                <div class="col-sm-6 mb-2">
                                    <label class="control-label">รหัสสี<span class="text-danger">*</span></label>
                                    <input id="input-color-code" name="input-color-code" class="form-select" />
                                </div>
                                <div class="col-sm-6 mb-2">
                                    <label class="control-label">จำนวนความหนา 18 mm</label>
                                    <input id="input-18mm-amount" name="input-18mm-amount" type="number" class="form-select" onkeypress="return isNumberKey(event)" />
                                </div>
                                <div class="col-sm-6 mb-2">
                                    <label class="control-label">จำนวนความหนา 9 mm</label>
                                    <input id="input-9mm-amount" name="input-9mm-amount" type="number" class="form-select" onkeypress="return isNumberKey(event)" />
                                </div>
                                <div class="col-sm-12 mb-2">
                                    <label class="control-label">สถานะ</label>
                                    <select class="form-select" id="select-planks-status" data-selected="" name="select-planks-status"></select>
                                </div>
                            </div>

                        </div>



                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ปิดหน้าจอ</button>
            </div>
        </div>
    </div>
</div>
