<link href="~/lib/file-input/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
<link href="~/lib/file-input/font/bootstrap-icons.min.css" rel="stylesheet" crossorigin="anonymous" />

<script src="~/lib/file-input/plugins/buffer.min.js" type="text/javascript"></script>
@*<script src="~/lib/file-input/plugins/piexif.min.js" type="text/javascript"></script>*@

<script src="~/lib/file-input/umd/popper.min.js"></script>
<script src="~/lib/file-input/js/fileinput.min.js"></script>

<script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.0/js/plugins/piexif.min.js" type="text/javascript"></script>
<style>
    .loader {
        z-index: 10000;
    }

    .style-details, .type-details, .item-details {
        cursor: pointer !important;
    }

    .hidecol {
        display: none;
    }

    #tb-product-list tbody tr, #tb-type-list tbody tr, #tb-style-list tbody tr, #tb-product-quickQT-list tbody tr, #tb-group-list tbody tr {
        cursor: pointer !important;
    }




    .no-display {
        display: none;
    }

    .btn-add-custom {
        color: #F09723;
        background-color: transparent /*#0d6efd*/;
        border-color: transparent /*#0d6efd*/;
        font-size: 16px;
    }
</style>
<div class="container-fluid">
    <div class="card mt-4">
        <div class="card-body">
            <div class="row mt-2">
                <form id="form-search-spec-queue">
                    <div class="row col-sm-12">
                        <div class="col-sm-2">
                            <label>เลขที่ใบเสนอราคา</label>
                            <input type="text" class="form-control" id="input-search-spec-quotation-number" name="input-search-spec-quotation-number" />
                        </div>
                        <div class="col-sm-2">
                            <label>ผู้รับผิดชอบออกแบบ 3D</label>
                            <input type="text" class="form-control" id="input-search-spec-design-name" name="input-search-spec-design-name" />
                        </div>
                        <div class="col-sm-2">
                            <label>สถานะ Checklist</label>
                            <select class="form-select" id="select-search-spec-checklist-status">
                                <option></option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <label>วันที่พร้อมติดตั้ง</label>
                            <input type="date" class="form-control" id="input-search-spec-install-date" name="input-search-spec-install-date" />
                        </div>
                        <div class="col-sm-4 mt-4 text-end">
                            <button type="button" class="btn btn-default-custom btn-clear-search-spec">ล้างข้อมูล</button>
                            <button type="button" class="btn btn-primary btn-search-spec">ค้นหา</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-2 mt-2">
                <button type="button" class="btn-add-custom btn-add-spec"><img src="~/images/plus.png" width="25px" />เพิ่มรายการบันทึกรับเรื่อง</button>
            </div>
            <div class="row col-sm-12 mt-2">
                <table class="table no-footer" id="tb-spec-queue-list" width="100%">
                    <thead>orderid
                        <tr>
                            <th><span>id</span></th>
                            <th><span>orderid</span></th>
                            <th><span>เลขที่ใบเสนอราคา</span></th>
                            <th><span>วันที่พร้อมติดตั้ง</span></th>
                            <th><span>ผู้รับผิดชอบ</span></th>
                            <th><span>วันกำหนดส่งงาน</span></th>
                            <th><span>สถานะ Checklist</span></th>
                            <th><span>วันที่แก้ไขล่าสุด</span></th>
                            <th><span>ผู้แก้ไขล่าสุด</span></th>
                            <th><span>แก้ไข</span></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@*modal for create 3d*@
<div id="modal-editSpec" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 id="itemHeader" class="modal-title text-center"></h4>
            </div>
            <div class="modal-body">
                <form id="form-editSpec">
                    <div class="row d-sm-flex">

                        <div class="col-sm-6">
                            <div class="row col-sm-12 mb-3">
                                <label class="col-sm-4 col-form-label text-end">เลขที่ใบเสนอราคา</label>
                                <div class="col-sm-8">
                                    <input type="hidden" id="input-spec-id" name="input-spec-id" />
                                    <select class="form-select" id="select-edit-spec-quotation" onchange="onQuotatiChange();" disabled>
                                        <option></option>
                                    </select>
                                    <input class="form-control" type="text" id="txtquotationedit" name="txtquotationedit" style="display:none;" disabled />
                                    @* <input class="form-control" type="text" id="input-edit-3d-quotation" name="input-edit-3d-quotation" disabled /> *@
                                </div>
                            </div>

                            <div class="row col-sm-12">
                                <label class="col-sm-4 col-form-label text-end" id="lbldesignname">ผู้รับผิดชอบ<span class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-select" id="select-edit-spec-designName"></select>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="row col-sm-12 mb-3">
                                <label class="col-sm-4 col-form-label text-end">วันที่พร้อมติดตั้ง</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" id="input-edit-spec-install-date" name="input-edit-spec-install-date" disabled />
                                </div>
                            </div>

                            <div class="row col-sm-12">
                                <label class="col-sm-4 col-form-label text-end" id="lblcommitdate">วันที่กำหนดส่งงาน</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="date" id="input-edit-spec-due-date" name="input-edit-spec-due-date" />
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="row col-sm-12 mb-3" style="margin-top:2%!important;">
                                <section>
                                    <div class="container">
                                        <div class="row d-flex justify-content-center align-items-center h-100">
                                            <div class="col col-lg-8 col-xl-8">
                                                <div class="card rounded-3">
                                                    <div class="card-body p-4">

                                                        <p class="mb-2" style="text-align:center;">
                                                            <span class="h2 me-2">สถานะ Checklist</span>
                                                        </p>
                                                        <ul id="listChecklist" class="list-group rounded-0">
                                                           @*  <li class="list-group-item border-0 d-flex align-items-center ps-0">
                                                                <input class="form-check-input me-3" type="checkbox" value="" aria-label="..." checked />
                                                                <s>Task list and assignments</s>
                                                            </li>
                                                            <li class="list-group-item border-0 d-flex align-items-center ps-0">
                                                                <input class="form-check-input me-3" type="checkbox" value="" aria-label="..." />
                                                                Set due date and assignments
                                                            </li>
                                                            <li class="list-group-item border-0 d-flex align-items-center ps-0">
                                                                <input class="form-check-input me-3" type="checkbox" value="" aria-label="..." />
                                                                Remove duplicate tasks and stories
                                                            </li>
                                                            <li class="list-group-item border-0 d-flex align-items-center ps-0">
                                                                <input class="form-check-input me-3" type="checkbox" value="" aria-label="..." />
                                                                Update the userflow and stories
                                                            </li>
                                                            <li class="list-group-item border-0 d-flex align-items-center ps-0">
                                                                <input class="form-check-input me-3" type="checkbox" value="" aria-label="..." />
                                                                Adjust the components
                                                            </li> *@
                                                        </ul>

                                                     

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                           

                            <div class="row col-sm-12 mb-3">
                                <label for="formFile" class="col-sm-2 col-form-label text-end">รูปแปลน</label>
                                <div class="col-sm-10">
                                    <input id="display-picture-plan" name="display-picture-plan[]" type="file" class="file" accept="image/*" multiple>
                                </div>
                            </div>

                            <div class="row col-sm-12 mb-3">
                                <label for="formFile" class="col-sm-2 col-form-label text-end">รูป Reference</label>
                                <div class="col-sm-10">
                                    <input id="display-picture-reference" name="display-picture-reference[]" type="file" class="file" accept="image/*" multiple>
                                </div>
                            </div>

                            <div class="row col-sm-12 mb-3">
                                <label for="formFile" class="col-sm-2 col-form-label text-end">อัปโหลดรูป 3D อนุมัติ</label>
                                <div class="col-sm-10">
                                    <input id="select-3d-approve" name="select-3d-approve[]" type="file" class="file" accept="image/*" multiple>
                                </div>
                            </div>

                            <div class="row col-sm-12 mb-3">
                                <label for="formFile" class="col-sm-2 col-form-label text-end">รูปภาพหน้างานจากโฟร์แมน</label>
                                <div class="col-sm-10">
                                    <input id="display-picture-from-foreman" name="display-picture-from-foreman[]" type="file" class="file" accept="image/*" multiple>
                                </div>
                            </div>
                        @*     <div class="row col-sm-12 mb-3">
                                <label for="formFile" class="col-sm-2 col-form-label text-end"></label>
                                <div class="col-sm-10">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="chkFinal3D">
                                        <label class="form-check-label">
                                            แบบ 3D Final (แก้ไขหลังโฟร์แมนวัดหน้างาน)
                                        </label>
                                    </div>
                                </div>
                            </div> *@


                        </div>
                        <div class="row col-sm-12">
                            <label class="col-sm-2 col-form-label text-end">ขนาด</label>
                            <div class="row col-sm-10">
                                <div class="col-sm-3">
                                    <label class="col-sm-4 col-form-label">ความยาว</label>
                                    <div class="col-sm-12">
                                        <input class="form-control" type="number" id="input-cus-product-length" name="input-cus-product-length" disabled/>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="col-sm-4 col-form-label">ความลึก</label>
                                    <div class="col-sm-12">
                                        <input class="form-control" type="number" id="input-cus-product-depth" name="input-cus-product-depth" disabled/>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <label class="col-sm-4 col-form-label">ความสูง</label>
                                    <div class="col-sm-12">
                                        <input class="form-control" type="number" id="input-cus-product-height" name="input-cus-product-height" disabled />
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row col-sm-12 mt-4 mb-2">
                            <label class="col-sm-2 col-form-label text-end">โน๊ตเพิ่มเติม</label>
                            <div class="row col-sm-10">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <input class="form-control mb-2" type="text" id="input-foreman-note" name="input-foreman-note"/>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary btn-modal-save-spec" id="btnsavespec"><i class="fas fa-save" aria-hidden="true"></i> บันทึก</button>
                <button type="button" class="btn btn-default-custom" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ยกเลิก</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-viewSpec" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 id="itemHeader" class="modal-title text-center"></h4>
            </div>
            <div class="modal-body">
                <form id="form-editSpec">
                    <div class="row d-sm-flex">

                        <div class="col-sm-6">
                            <div class="row col-sm-12 mb-3">
                                <label class="col-sm-4 col-form-label text-end">เลขที่ใบเสนอราคา</label>
                                <div class="col-sm-8">
                                    <select class="form-select" id="select-edit-spec-quotation" onchange="onQuotatiChange();" disabled>
                                        <option></option>
                                    </select>
                                    @* <input class="form-control" type="text" id="input-edit-3d-quotation" name="input-edit-3d-quotation" disabled /> *@
                                </div>
                            </div>

                            <div class="row col-sm-12">
                                <label class="col-sm-4 col-form-label text-end">ผู้รับผิดชอบออกแบบ Spec<span class="text-danger">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-select" id="select-edit-spec-designName"></select>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-6">
                            <div class="row col-sm-12 mb-3">
                                <label class="col-sm-4 col-form-label text-end">วันที่พร้อมติดตั้ง</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" id="input-edit-spec-install-date" name="input-edit-spec-install-date" disabled />
                                </div>
                            </div>

                            <div class="row col-sm-12">
                                <label class="col-sm-4 col-form-label text-end">วันที่กำหนดส่งงาน</label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="date" id="input-edit-spec-due-date" name="input-edit-spec-due-date" />
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="row col-sm-12 mb-3" style="margin-top:2%!important;">
                                <section>
                                    <div class="container">
                                        <div class="row d-flex justify-content-center align-items-center h-100">
                                            <div class="col col-lg-8 col-xl-6">
                                                <div class="card rounded-3">
                                                    <div class="card-body p-4">

                                                        <p class="mb-2" style="text-align:center;">
                                                            <span class="h2 me-2">สถานะ Checklist</span>
                                                        </p>
                                                        <ul id="listChecklist" class="list-group rounded-0">
                                                            @*  <li class="list-group-item border-0 d-flex align-items-center ps-0">
                                                            <input class="form-check-input me-3" type="checkbox" value="" aria-label="..." checked />
                                                            <s>Task list and assignments</s>
                                                            </li>
                                                            <li class="list-group-item border-0 d-flex align-items-center ps-0">
                                                            <input class="form-check-input me-3" type="checkbox" value="" aria-label="..." />
                                                            Set due date and assignments
                                                            </li>
                                                            <li class="list-group-item border-0 d-flex align-items-center ps-0">
                                                            <input class="form-check-input me-3" type="checkbox" value="" aria-label="..." />
                                                            Remove duplicate tasks and stories
                                                            </li>
                                                            <li class="list-group-item border-0 d-flex align-items-center ps-0">
                                                            <input class="form-check-input me-3" type="checkbox" value="" aria-label="..." />
                                                            Update the userflow and stories
                                                            </li>
                                                            <li class="list-group-item border-0 d-flex align-items-center ps-0">
                                                            <input class="form-check-input me-3" type="checkbox" value="" aria-label="..." />
                                                            Adjust the components
                                                            </li> *@
                                                        </ul>



                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>


                            <div class="row col-sm-12 mb-3">
                                <label for="formFile" class="col-sm-2 col-form-label text-end">รูปแปลน</label>
                                <div class="col-sm-10">
                                    <input id="display-picture-plan" name="display-picture-plan[]" type="file" class="file" accept="image/*" multiple>
                                </div>
                            </div>

                            <div class="row col-sm-12 mb-3">
                                <label for="formFile" class="col-sm-2 col-form-label text-end">รูป Reference</label>
                                <div class="col-sm-10">
                                    <input id="display-picture-reference" name="display-picture-reference[]" type="file" class="file" accept="image/*" multiple>
                                </div>
                            </div>

                            <div class="row col-sm-12 mb-3">
                                <label for="formFile" class="col-sm-2 col-form-label text-end">อัปโหลดรูป 3D อนุมัติ</label>
                                <div class="col-sm-10">
                                    <input id="select-3d-approve" name="select-3d-approve[]" type="file" class="file" accept="image/*" multiple>
                                </div>
                            </div>

                            @*     <div class="row col-sm-12 mb-3">
                            <label for="formFile" class="col-sm-2 col-form-label text-end"></label>
                            <div class="col-sm-10">
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="chkFinal3D">
                            <label class="form-check-label">
                            แบบ 3D Final (แก้ไขหลังโฟร์แมนวัดหน้างาน)
                            </label>
                            </div>
                            </div>
                            </div> *@

                            <div class="row col-sm-12 mb-3">
                                <label for="formFile" class="col-sm-2 col-form-label text-end">รูปภาพหน้างานจากโฟร์แมน</label>
                                <div class="col-sm-10">
                                    <input id="display-picture-from-foreman" name="display-picture-from-foreman[]" type="file" class="file" accept="image/*" multiple>
                                </div>
                            </div>

                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-default-custom" data-bs-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> ปิด</button>
            </div>
        </div>
    </div>
</div>

<style>
    .file-preview-frame {
        width: 150px;
        height: 200px;
    }

    .krajee-default.file-preview-frame .kv-file-content {
        width: 130px;
        height: 150px;
    }

    .krajee-default .file-footer-caption {
        display: none;
    }

    .kv-file-upload, .fileinput-cancel-button, .fileinput-upload-button, .fileinput-remove-button, .fileinput-remove,
    .btn-toggleheader, .btn-fullscreen, .btn-borderless {
        display: none;
    }
</style>